<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_profile_banner theme_primary">
      <div class="e_profile_banner_picture">
        <div class="e_profile_banner_edit"></div>
      </div>
      <div class="e_profile_banner_detail">
        <h5 class="text_color_white">ANN ALEXANDER</h5>
        <p class="text_color_white">Guest</p>
      </div>
      <div class="e_profile_banner_msg textRight">
        <span class="floatRight"><div class="e_profile_notification">15</div></span>
        <span class="floatRight"><img src="assets/img/e_profile_msg.png"></span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="e_profile_content">
      <ul>
        <li (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}"><span><img src="assets/img/e_p1.png"></span>My Wedding Planning<span class="e_collpase floatRight"></span>
          <div class="clear"></div>
        </li>
        <div *ngIf="isGroupShown(0)">
          <ul style="padding-left: 35px;">
            <li><span><img src="assets/img/e_todo.png"></span>My To-Do-List</li>
            <li><span><img src="assets/img/e_guest.png"></span>My Guests</li>
            <li><span><img src="assets/img/e_vendor.png"></span>My Vendors</li>
            <li><span><img src="assets/img/e_budjet.png"></span>My Budget</li>
          </ul>
        </div>
        <li><span><img src="assets/img/e_p2.png"></span>Vendors</li>
        <li><span><img src="assets/img/e_p3.png"></span>Ideas</li>
        <li (click)="open_page('FormPage')"><span><img src="assets/img/e_p4.png"></span>Forum</li>
        <li (click)="open_page('MyaccountPage')"><span><img src="assets/img/e_p5.png"></span>My Account</li>
        <li><span><img src="assets/img/e_p6.png"></span>Help</li>
        <li (click)="open_page('ChatlistPage')"><span><img src="assets/img/e_p7.png"></span>Messages</li>
        <li (click)="open_page('LoginPage')"><span><img src="assets/img/e_p8.png"></span>Logout</li>
      </ul>
    </div>
  </div>
</ion-content>
