<ion-content class="theme_offwhite">
  <div class="e_account_banner textCenter">
    <div class="e_account_profile_pic">
      <div class="e_account_profile_pic_edit"></div>
    </div>
    <h4>HI ANN ALEX</h4>
  </div>
  <div class="e_profile_content" style="height:auto !important;">
    <ul>
      <li (click)="open_page('MyprofilePage')"><span><img src="assets/img/e_15.png"></span>My Profile</li>
      <li (click)="open_page('AccountsettingsPage')"><span><img src="assets/img/e_16.png"></span>Account Settings</li>
      <li (click)="open_page('ChangepasswordPage')"><span><img src="assets/img/e_17.png"></span>Change Password</li>
      <li (click)="open_page('NotificationsPage')"><span><img src="assets/img/e_18.png"></span>Notifications</li>
    </ul>
  </div>

</ion-content>
