<ion-content class="theme_secondary">
  <div class="e_login_wrapper">
    <div class="e_login_logo textCenter">
      <img src="assets/img/e_logo.png">
    </div>
    <div class="e_login_form textCenter">
      <div class="e_login_row">
        <h4>login</h4>
        <hr>
      </div>
      <div class="e_login_row">
        <input class="e_login_input textCenter" placeholder="Username">
      </div>
      <div class="e_login_row">
        <input class="e_login_input textCenter" placeholder="Password">
      </div>
      <div class="e_login_row">
        <button ion-button class="e_next_btn" (click)="open_page('TabsPage')"></button>
      </div>
    </div>
  </div>
  <div class="e_login_footer textCenter">
    <p>New User ?</p>
    <button class="e_login_register_btn" (click)="open_page('SignupPage')">Register here</button>
    <hr>
  </div>
</ion-content>
