<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">VENDOR DETAILS</div>
  <div class="clear"></div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_my_wedding_wrapper">
    <div class="e_vendor_details">
      <h5>EVENT
        <div class="notification">03</div>
      </h5>
      <ul>
        <li (click)="editvendor()">
          <div class="e_vendorphoto_div">
            <div class="e_vendorphoto_div_inner">
            </div>
          </div>
          <div class="e_vendordetail_div">
            <div class="e_vendor_detail_left floatLeft">
              <h5>Happy Day Event management</h5>
              <h6>Kochin</h6>
            </div>
            <div class="e_vendor_detail_right floatRight">
              <div class="e_evalution">Evaluating</div>
              <div class="e_vendor_msg_span"><img src="assets/img/e_msg1.png"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="e_vendorphoto_div">
            <div class="e_vendorphoto_div_inner">
            </div>
          </div>
          <div class="e_vendordetail_div">
            <div class="e_vendor_detail_left floatLeft">
              <h5>Happy Day Event management</h5>
              <h6>Kochin</h6>
            </div>
            <div class="e_vendor_detail_right floatRight">
              <div class="e_evalution">Evaluating</div>
              <div class="e_vendor_msg_span"><img src="assets/img/e_msg1.png"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="e_vendorphoto_div">
            <div class="e_vendorphoto_div_inner">
            </div>
          </div>
          <div class="e_vendordetail_div">
            <div class="e_vendor_detail_left floatLeft">
              <h5>Happy Day Event management</h5>
              <h6>Kochin</h6>
            </div>
            <div class="e_vendor_detail_right floatRight">
              <div class="e_evalution">Evaluating</div>
              <div class="e_vendor_msg_span"><img src="assets/img/e_msg1.png"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="e_vendorphoto_div">
            <div class="e_vendorphoto_div_inner">
            </div>
          </div>
          <div class="e_vendordetail_div">
            <div class="e_vendor_detail_left floatLeft">
              <h5>Happy Day Event management</h5>
              <h6>Kochin</h6>
            </div>
            <div class="e_vendor_detail_right floatRight">
              <div class="e_evalution">Evaluating</div>
              <div class="e_vendor_msg_span"><img src="assets/img/e_msg1.png"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
