<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">TO-DO LIST</div>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_task_number">
      <ion-grid class="p0">
        <ion-row>
          <ion-col col-6 class="p0 textRight">
            <div class="e_task_number_col pl0">
              <p>TOTAL TASKS</p>
              <strong>82</strong>
            </div>
          </ion-col>
          <ion-col col-6 class="p0 textLeft e_task_number_border">
            <div class="e_task_number_col pr0">
              <p>COMPLETED</p>
              <strong class="e_task_number_color">10</strong>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h6>You have completed <strong class="e_task_number_color">10</strong> out of <strong>82</strong> tasks</h6>
      <ion-list class="m0">
        <ion-item class="e_task_range_bar">
          <ion-range class="p0" min="1" max="100">
          </ion-range>
        </ion-item>
      </ion-list>
    </div>
    <div class="e_task_tab_bay">
      <li class="pending" [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">
        <span class="not_active"><img src="assets/img/e_pending.png"></span>
        <span class="active"><img src="assets/img/e_pending_act.png"></span>
        <span>Pending</span>
        <div class="e_point_arrow"></div>
        <div class="clear"></div>
      </li>
      <li class="completed" [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">
        <span class="not_active"><img src="assets/img/e_completed.png"></span>
        <span class="active"><img src="assets/img/e_completed_act.png"></span>
        <span>Complete</span>
        <div class="e_point_arrow"></div>
        <div class="clear"></div>
      </li>
      <li class="all" [ngClass]="{'active' : slidertab == 2}" (click)="goToSlide(2)">
        <span class="not_active"><img src="assets/img/e_all.png"></span>
        <span class="active"><img src="assets/img/e_all_act.png"></span>
        <span>All</span>
        <div class="e_point_arrow"></div>
        <div class="clear"></div>
      </li>
      <div class="clear"></div>
    </div>
    <div class="e_task_tab_content">
      <ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div class="e_task_tab_content_slide">
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="e_task_tab_content_slide">
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" checked name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" checked name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="e_task_tab_content_slide">
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" checked name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="e_task_slide_tost_date">
              <h5>BEFORE DEC 2017</h5>
              <h6>From 10 to 12 months</h6>
            </div>
            <ul>
              <li>
                <div class="e_task_checkbox">
                    <input id="check1" type="checkbox" checked name="check" value="check1">
                    <label for="check1"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Search for ideal Photography</h5>
                  <h6>Photography and Video</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox" checked name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>Start creating your wedding website</h5>
                  <h6>Planning</h6>
                </div>
                <div class="clear"></div>
              </li>
              <li>
                <div class="e_task_checkbox">
                    <input id="check2" type="checkbox"  name="check" value="check1">
                    <label for="check2"></label>
                </div>
                <div class="e_task_list_content textLeft">
                  <h5>The soundtrack to your wedding</h5>
                  <h6>Entertainment</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
<ion-footer>
  <button ion-button class="e_task_add" (click)="open_page('NewPage')">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-footer>
