<ion-header class="theme_primary nav_header">
  <div class="nav_header_title floatLeft">WEDDING IDEAS</div>
  <button ion-button class="nav_btn floatRight"><ion-icon name="ios-options-outline"></ion-icon></button>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_my_ideas_content">
    <ul>
      <li (click)="open_page('IdeainnerPage')">
        <div class="e_idea_head">
          <h4>Make Time for your Bridal shoot, capture the most beautiful moments</h4>
          <p>By George Paul, 25/05/2017</p>
        </div>
        <div class="e_idea_detail">
          <div class="e_idea_detail_image">
            <img src="assets/img/e_idea1.png">
          </div>
          <p>Ah, the first look. It’s a relatively recent addition to the wedding ritual arsenal, but the practice of staging a semi-private meeting of the fiancés to check each other out before the wedding ceremony begins has quickly become a popular choice for some couples. </p>
        </div>
      </li>
      <li (click)="open_page('IdeainnerPage')">
        <div class="e_idea_head">
          <h4>Make Time for your Bridal shoot, capture the most beautiful moments</h4>
          <p>By George Paul, 25/05/2017</p>
        </div>
        <div class="e_idea_detail">
          <div class="e_idea_detail_image">
            <img src="assets/img/e_idea2.png">
          </div>
          <p>Ah, the first look. It’s a relatively recent addition to the wedding ritual arsenal, but the practice of staging a semi-private meeting of the fiancés to check each other out before the wedding ceremony begins has quickly become a popular choice for some couples. </p>
        </div>
      </li>
      <div class="e_idea_pagination">
        <li class="prev"></li>
        <li class="page_detail">Page  1 of 8</li>
        <li class="next"></li>
      </div>
    </ul>
  </div>
  <div class="e_topic_content">
    <h4>ARTICLES BY TOPIC</h4>
    <ul>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c1.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c2.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c3.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c4.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</ion-content>
