<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">CHANGE PASSWORD</div>
    <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_more_profile_div">
    <div class="e_more_form">
      <div class="e_more_row">
        <p>CURRENT PASSWORD</p>
        <input class="e_more_input" placeholder="Current Password" >
      </div>
      <div class="e_more_row">
        <p>NEW PASSWORD</p>
        <input class="e_more_input" placeholder="New Password" >
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="e_add_guest_bottom_btn">
          SAVE&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
