<ion-tabs class="e_main_tab">
  <ion-tab [root]="tab1Root" tabTitle="My Wedding" tabIcon="md-heart-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Vendor" tabIcon="ios-search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Idea" tabIcon="md-bulb"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="More" tabIcon="ios-more"></ion-tab>
</ion-tabs>
