<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_my_wedding_banner">
          <button ion-button class="e_wedding_edit" (click)="open_page('CovereditPage')"></button>
          <div class="e_banner_profile_image">
            <div class="e_banner_profile_image_inner">
            </div>
          </div>
          <h4 class="textCenter">We are getting married</h4>
          <p class="textCenter">25/12/2017 . Alaska</p>
          <hr>
          <div class="e_time_count_down">
            <li><p>125</p><strong>DAYS</strong></li>
            <li><p>000</p><strong>HOURS</strong></li>
            <li><p>00</p><strong>MIN</strong></li>
            <li><p>00</p><strong>SEC</strong></li>
            <div class="clear"></div>
          </div>
    </div>
    <div class="e_my_wedding_content">
      <ul>
        <li>
          <div class="e_my_wedding_content_head">
            <div class="e_my_wedding_content_icon">
              <img src="assets/img/e_todo.png">
            </div>
            <div class="e_my_wedding_content_header">
              <p>TO - DO LIST</p>
            </div>
            <div class="clear"></div>
          </div>
          <div class="e_my_wedding_content_details">
            <ul>
                <li>
                  <ion-grid class="p0">
                    <ion-row>
                      <ion-col col-9 class="textLeft p0">
                        <p>Announce your engagement</p>
                      </ion-col>
                      <ion-col col-3 class="textRight p0">
                        <p>
                          <span>
                            <div class="e_checkbox_custom">
                              <strong>Jun 6</strong>
                              <input type="checkbox" name="cb" id="cb1">
                              <label for="cb1"></label>
                            </div>
                          </span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </li>
                <li>
                  <ion-grid class="p0">
                    <ion-row>
                      <ion-col col-9 class="textLeft p0">
                        <p>Plan your engagement party</p>
                      </ion-col>
                      <ion-col col-3 class="textRight p0">
                        <p>
                          <span>
                            <div class="e_checkbox_custom">
                              <strong>Jun 8</strong>
                              <input type="checkbox" name="cb" id="cb2">
                              <label for="cb2"></label>
                            </div>
                          </span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </li>
                <li>
                  <ion-grid class="p0">
                    <ion-row>
                      <ion-col col-9 class="textLeft p0">
                        <p>Schedule an engagement photography</p>
                      </ion-col>
                      <ion-col col-3 class="textRight p0">
                        <p>
                          <span>
                            <div class="e_checkbox_custom">
                              <strong>Jun 9</strong>
                              <input type="checkbox" name="cb" id="cb3">
                              <label for="cb3"></label>
                            </div>
                          </span>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </li>
                <div class="e_checklist" (click)="open_page('TodolistPage')"><strong>View Checklist</strong><img src="assets/img/e_forward_arrow.png"></div>
            </ul>
          </div>
        </li>
        <li>
          <div class="e_my_wedding_content_head">
            <div class="e_my_wedding_content_icon">
              <img src="assets/img/e_guest.png">
            </div>
            <div class="e_my_wedding_content_header">
              <p>GUESTS</p>
              <div class="e_my_wedding_circle_not">3</div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="e_my_wedding_content_details">
            <ul>
              <li>
                <ion-grid class="p0">
                  <ion-row>
                    <ion-col col-2 class="textRight p0">
                      <div class="e_my_wedding_list_circle">
                      </div>
                    </ion-col>
                    <ion-col col-10 class="textLeft p0">
                      <p>Simon Lorenz</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </li>
              <li>
                <ion-grid class="p0">
                  <ion-row>
                    <ion-col col-2 class="textRight p0">
                      <div class="e_my_wedding_list_circle">
                      </div>
                    </ion-col>
                    <ion-col col-10 class="textLeft p0">
                      <p>Domenic Torento</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </li>
              <li>
                <ion-grid class="p0">
                  <ion-row>
                    <ion-col col-2 class="textRight p0">
                      <div class="e_my_wedding_list_circle">
                      </div>
                    </ion-col>
                    <ion-col col-10 class="textLeft p0">
                      <p>Maria Sam</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </li>
            </ul>
            <div class="e_checklist" (click)="open_page('MyguestPage')"><strong>View Guests</strong><img src="assets/img/e_forward_arrow.png"></div>
          </div>
        </li>
        <li>
          <div class="e_my_wedding_content_head">
            <div class="e_my_wedding_content_icon">
              <img src="assets/img/e_guest.png">
            </div>
            <div class="e_my_wedding_content_header">
              <p>VENDORS</p>
              <div class="e_my_wedding_circle_not">8</div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="e_my_wedding_content_details">
            <div class="e_my_wedding_vendor_div">
              <div class="e_my_vendor_pic">
              </div>
              <div class="e_my_vendor_detail">
                <div class="floatLeft width75">
                  <h6>Blue marine Resort</h6>
                  <p>Austria Greenwoods</p>
                </div>
                <div class="e_my_vendor_msg" (click)="open_page('ChatlistPage')">
                  <img src="assets/img/e_msg.png">
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="e_checklist" (click)="open_page('MyvendorPage')"><strong>View Vendors</strong><img src="assets/img/e_forward_arrow.png"></div>
          </div>
        </li>
        <li>
          <div class="e_my_wedding_content_head">
            <div class="e_my_wedding_content_icon">
              <img src="assets/img/e_budjet.png">
            </div>
            <div class="e_my_wedding_content_header">
              <p>BUDGET</p>
              <div class="e_my_wedding_circle_not">8</div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="e_my_wedding_content_details">
            <div class="e_my_budget">
              <ion-grid class="p0">
                <ion-row>
                  <ion-col col-6 class="p0">
                    <p>ESTIMATED BUDGET</p>
                    <strong>120000</strong>
                  </ion-col>
                  <ion-col col-5 class="e_my_budget_border">
                    <p>PAID</p>
                    <strong>600000</strong>
                  </ion-col>
                  <ion-col col-1 class="p0">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="e_checklist" (click)="open_page('MybudgetPage')"><strong>View Budget</strong><img src="assets/img/e_forward_arrow.png"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</ion-content>
