<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">FILTER BY</div>
    <div class="clear"></div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_filterby_wrapper">
    <ul>
      <li>
        <div class="e_add_guest_pack">
          <div class="e_filter_list_head" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
            Wedding Venues<div class="e_collpase floatRight"></div>
            <div class="clear"></div>
          </div>
          <div class="e_filter_list_collapsed" *ngIf="isGroupShown(0)">
            <ion-list>
              <ion-item>
                <ion-label>Farmhouse Weddings<span class="floatRight"><strong>10</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Hotels<span class="floatRight"><strong>20</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Banquet Halls<span class="floatRight"><strong>2</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Part Lounge<span class="floatRight"><strong>40</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </li>
      <li>
        <div class="e_add_guest_pack">
          <div class="e_filter_list_head" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
            Wedding Vendors<div class="e_collpase floatRight"></div>
            <div class="clear"></div>
          </div>
          <div class="e_filter_list_collapsed" *ngIf="isGroupShown(1)">

            <ion-list>
              <ion-item>
                <ion-label>Farmhouse Weddings<span class="floatRight"><strong>10</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Hotels<span class="floatRight"><strong>20</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Banquet Halls<span class="floatRight"><strong>2</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Part Lounge<span class="floatRight"><strong>40</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </li>
      <li>
        <div class="e_add_guest_pack">
          <div class="e_filter_list_head" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
            Brides<div class="e_collpase floatRight"></div>
            <div class="clear"></div>
          </div>
          <div class="e_filter_list_collapsed" *ngIf="isGroupShown(2)">

            <ion-list>
              <ion-item>
                <ion-label>Farmhouse Weddings<span class="floatRight"><strong>10</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Hotels<span class="floatRight"><strong>20</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Banquet Halls<span class="floatRight"><strong>2</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Part Lounge<span class="floatRight"><strong>40</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </li>
      <li>
        <div class="e_add_guest_pack">
          <div class="e_filter_list_head" (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
            Grooms<div class="e_collpase floatRight"></div>
            <div class="clear"></div>
          </div>
          <div class="e_filter_list_collapsed" *ngIf="isGroupShown(3)">

            <ion-list>
              <ion-item>
                <ion-label>Farmhouse Weddings<span class="floatRight"><strong>10</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Hotels<span class="floatRight"><strong>20</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Banquet Halls<span class="floatRight"><strong>2</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>Part Lounge<span class="floatRight"><strong>40</strong></span></ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
