<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">MY VENDORS</div>
  <button ion-button class="nav_btn floatRight"> <ion-icon name="ios-search-outline"></ion-icon></button>
  <button ion-button class="nav_btn floatRight" (click)="presentPopover($event)"><ion-icon name="ios-options-outline"></ion-icon></button>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_guest_tab_bay theme_primary">
      <ul>
          <li [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)"><span>Saved Vendors</span><span><div class="e_guest_not">02</div></span><div class="arrow-up"></div></li>
          <li [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)"><span>Booked Vendors</span><span ><div class="e_guest_not">02</div></span><div class="arrow-up"></div></li>
      </ul>
    </div>
    <div class="e_wedding_tab_content">
      <ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div class="e_vendor_content height100 textLeft">
            <ul>
              <li (click)="vendordetail()"><span><img src="assets/img/e_1.png"></span>Events</li>
              <li><span><img src="assets/img/e_2.png"></span>Catering</li>
              <li><span><img src="assets/img/e_3.png"></span>Photography</li>
              <li><span><img src="assets/img/e_4.png"></span>Video</li>
              <li><span><img src="assets/img/e_5.png"></span>Planning</li>
              <li><span><img src="assets/img/e_6.png"></span>Jewellery</li>
              <li><span><img src="assets/img/e_7.png"></span>Transportation</li>
              <li><span><img src="assets/img/e_8.png"></span>Wedding Cards</li>
              <li><span><img src="assets/img/e_9.png"></span>Flower and Decoration</li>
              <li><span><img src="assets/img/e_10.png"></span>Bridal Accessories</li>
              <li><span><img src="assets/img/e_11.png"></span>Health and Beauty</li>
              <li><span><img src="assets/img/e_12.png"></span>Entertainment</li>
              <li><span><img src="assets/img/e_13.png"></span>Guests</li>
              <li><span><img src="assets/img/e_14.png"></span>Honeymoon</li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="e_vendor_content height100 textLeft theme_offwhite">
            <div class="e_my_wedding_wrapper">
              <div class="e_vendor_details">
                <h5>BOOKED
                  <div class="notification">03</div>
                </h5>
                <div class="e_no_booking_div">
                  <p class="textCenter">You do not have any vendors in this<br>
                      category saved</p>
                      <hr>
                      <h4 class="textCenter">Haven’t booked one yet?</h4>
                      <p class="textCenter">Don’t worry we will help you find the perfect vendors
in out catalogue.</p>
                  <div class="width100 textCenter">
                    <button ion-button class="e_no_booking_div_btn">SEARCH</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
<ion-footer>
  <button ion-button class="e_task_add e_add" (click)="addvendor()">
  </button>
</ion-footer>
