<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">Messages</div>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_chat_message_wrapper">
    <ul>
      <li class="e_send">
        <div class="e_chat_message_div">
          <div class="e_chat_pic">
            <img src="assets/img/e_girl1.png">
          </div>
          <div class="e_chat_message">
            <div class="e_chat_date_time">20/07/2017, 05:00PM</div>
            <div class="e_chat_message_type">
              <div class="e_arw"></div>
              Hai Dave!
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li class="e_receive">
        <div class="e_chat_message_div">
          <div class="e_chat_pic">
            <img src="assets/img/e_girl2.png">
          </div>
          <div class="e_chat_message">
            <div class="e_chat_date_time">20/07/2017, 05:00PM</div>
            <div class="e_chat_message_type">
              <div class="e_arw"></div>
              Miss you dear Whatsup ?
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li class="e_send">
        <div class="e_chat_message_div">
          <div class="e_chat_pic">
            <img src="assets/img/e_girl1.png">
          </div>
          <div class="e_chat_message">
            <div class="e_chat_date_time">20/07/2017, 05:00PM</div>
            <div class="e_chat_message_type">
              <div class="e_arw"></div>
             hmm
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
  <div class="e_chat_bottom_bay">
    <div class="e_chat_tools">
      <li><img src="assets/img/e_attachment.png"></li>
      <li><img src="assets/img/e_location.png"></li>
      <li><img src="assets/img/e_camera.png"></li>
    </div>
    <div class="e_type_box">
      <div class="e_type_input_box">
        <input class="e_type_input" placeholder="Type your message here">
      </div>
      <div class="e_type_enter_box"></div>
      <div class="clear"></div>
    </div>
  </div>

</ion-content>
