<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">MESSAGES</div>
  <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_chat__list">
    <ul>
      <li (click)="chat()">
        <div class="e_chat_profile_pic">
          <img src="assets/img/e_girl1.png">
        </div>
        <div class="e_chat_profile_detail">
          <h5>SNEHA SUSAN</h5>
          <div class="e_chat_date">
            <span>20/05/2017</span>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li (click)="chat()">
        <div class="e_chat_profile_pic">
          <img src="assets/img/e_girl2.png">
        </div>
        <div class="e_chat_profile_detail">
          <h5>JINU SAMUEL</h5>
          <div class="e_chat_date">
            <span>20/05/2017</span>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li (click)="chat()">
        <div class="e_chat_profile_pic">
          <img src="assets/img/e_boy1.jpg">
        </div>
        <div class="e_chat_profile_detail">
          <h5>VYSAKH V NAIR</h5>
          <div class="e_chat_date">
            <span>20/05/2017</span>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li (click)="chat()">
        <div class="e_chat_profile_pic">
          <img src="assets/img/e_girl3.png">
        </div>
        <div class="e_chat_profile_detail">
          <h5>SABEENA MARY</h5>
          <div class="e_chat_date">
            <span>20/05/2017</span>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
      <li (click)="chat()">
        <div class="e_chat_profile_pic">
          <img src="assets/img/e_avatar.png">
        </div>
        <div class="e_chat_profile_detail">
          <h5>UNKNOWN</h5>
          <div class="e_chat_date">
            <span>20/05/2017</span>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has ...</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>

</ion-content>
