<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">ADD NEW EXPENSE</div>
  <div class="clear"></div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_add_guest_pack">
    <div class="e_task_form">
      <div class="e_task_form_row">
        <p>CATEGORY</p>
        <select class="e_new_task_select">
          <option>Events</option>
        </select>
      </div>
      <div class="e_task_form_row">
        <p>EXPENSE</p>
        <input class="e_new_task_input" placeholder="Name of Expense">
      </div>
      <div class="e_task_form_row">
        <ion-grid class="p0">
          <ion-row>
            <ion-col col-6>
              <p>ESTIMATED COST</p>
              <div class="e_price_sign floatLeft">
                $
              </div>
              <input class="e_new_task_input_price floatLeft" placeholder="0">
            </ion-col>
            <ion-col col-6>
              <p>FINAL COST</p>
              <div class="e_price_sign floatLeft">
                $
              </div>
              <input class="e_new_task_input_price floatLeft" placeholder="0">
              <div class="clear"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div class="e_add_guest_pack">
      <div class="e_task_form">
      <div class="e_task_form_row">
        <p>COMMENTS</p>
        <textarea class="e_new_task_textarea" placeholder="Description of Task" rows="6">
        </textarea>
      </div>
    </div>
  </div>
  <div class="e_task_form">
  <div class="e_task_form_row">
      <div class="textCenter">
        <button ion-button class="e_cover_save width100" (click)="dismiss()">SAVE&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon></button>
      </div>
  </div>
</div>

</ion-content>
