<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_my_wedding_banner">
      <button ion-button class="e_cover_edit_back" (click)="goBack()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
          <div class="e_banner_profile_image">
            <div class="e_banner_profile_image_inner">
            </div>
          </div>
          <div class="width100 textCenter">
            <button class="e_banner_upload">Upload Photo</button>
          </div>
          <hr>
          <div class="e_time_count_down">
            <li><p>125</p><strong>DAYS</strong></li>
            <li><p>000</p><strong>HOURS</strong></li>
            <li><p>00</p><strong>MIN</strong></li>
            <li><p>00</p><strong>SEC</strong></li>
            <div class="clear"></div>
          </div>
    </div>
    <div class="e_my_wedding_content theme_white">
      <div class="e_cover_edit_content">
        <h5 class="textCenter">WE ARE GETTING MARRIED</h5>
        <hr>
        <br>
        <ion-grid class="p0">
          <ion-row>
            <ion-col col-5 class="p0">
              <input class="e_cover_edit_input textCenter" placeholder="My Name">
            </ion-col>
            <ion-col col-2 class="p0 textCenter">
              <span><img src="assets/img/e_hear.png"></span>
            </ion-col>
            <ion-col col-5 class="p0">
              <input class="e_cover_edit_input textCenter" placeholder="My Fiance">
            </ion-col>
          </ion-row>
          <br>
          <br>
          <ion-row>
            <ion-col col-5 class="p0">
              <h5 class="textCenter">WEDDING DATE</h5>
              <hr>
              <br>
              <input class="e_cover_edit_input1 textCenter" placeholder="Date">
            </ion-col>
            <ion-col col-2 class="p0 textCenter">
            </ion-col>
            <ion-col col-5 class="p0">
              <h5 class="textCenter">WEDDING PLACE</h5>
              <hr>
              <br>
              <input class="e_cover_edit_input1 textCenter" placeholder="Place">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="p0">
              <div class="e_cover_btn_bay">
                <button ion-button class="e_cover_save">SAVE</button>
                <button ion-button class="e_cover_cancel">CANCEL</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>
