
/* LOGIN */

.e_login_wrapper{width:100%;height:calc(100% - 122px);padding: 20px;padding-top: 10%;}
.e_login_logo{width:100%;padding-bottom:35px;}
.e_login_logo img{width:100px;}
.e_login_form{width:100%;}
.e_login_form h4{color: #fff;font-size: 20px;letter-spacing: 2px;}
.e_login_form hr{width:50px;border:2px solid #fff;height:0px;border-radius:20px;margin-bottom: 25px;}
.e_login_row{width:100%;padding-bottom:5px;}
.e_login_input{background: #fff;width:100%;height:45px;border-radius:20px;border:none;font-size: 16px;font-weight: 300;letter-spacing: 1px;padding-left: 15px;padding-right:15px;}
.e_login_input::-webkit-input-placeholder { color: #a5a4a4;}
.e_login_input::-moz-placeholder {color: #a5a4a4;}
.e_login_input:-ms-input-placeholder {color: #a5a4a4;}
.e_login_input:-moz-placeholder {color: #a5a4a4;}
.e_next_btn{width:60px;height:60px;box-shadow: 1px 1px 130px 1px #000 !important;border-radius: 50%;background-color: #6a0e6d !important;background:url("../assets/img/e_next.png");background-position:center;background-size: 50px;background-repeat: no-repeat;margin-top: 25px;}
.e_login_footer{width:100%;}
.e_login_footer p{text-align: center;color: #fff;font-size: 18px;letter-spacing: 3px;}
.e_login_register_btn{margin:0 auto;color: #fff;background: transparent;border:2px solid #fff;padding: 10px;font-size: 16px;letter-spacing: 2px;padding-left: 15px;padding-right: 15px;}
.e_login_footer hr{border:2px solid #c237c2;width:100px;height:0px;border-radius:20px;margin:0 auto;margin-bottom:0px;margin-top: 20px;}

/* MAIN-TAB */

.e_main_tab{width:100%;}
.e_main_tab .tabbar{width:100%;background: #ffffff !important;border-top:1px solid #f1f1f1 !important;height:75px;}
.e_main_tab .tabbar .tab-button[aria-selected=true]{color: #8b8b8b !important;}
.e_main_tab .tabbar .tab-button .tab-button-icon{font-size: 28px !important;}
.e_main_tab .tabbar .tab-button[aria-selected=true] .tab-button-icon{color: #c849c8 !important;}
.e_main_tab .tabbar .tab-button-text{margin-top:8px !important;border-bottom:3px solid #fff !important;padding-bottom:10px;}
.e_main_tab .tabbar .tab-button[aria-selected=true] .tab-button-text{border-bottom:3px solid #c849c8 !important;}
.e_main_tab .tabbar .tab-button{position: relative;top: 5px;}

/* MY-WEDDING */

.e_wedding_edit{width:30px;height:30px;border-radius:50%;background:url("../assets/img/e_edit.png");background-repeat: no-repeat;background-position: center;position:absolute;right:20px;top:15px;background-size: cover;}
.e_my_wedding_wrapper{width:100%;height: 100%;}
.e_my_wedding_banner{position: relative;padding-top: 30px;background:url("../assets/img/e_wedding_theme.png");background-repeat: no-repeat;background-position: center;background-size: cover;height: 280px;}
.e_banner_profile_image{width:75px;height:75px;margin:0 auto;border-radius:50%;background:rgba(273,273,273,0.3);padding:7px;}
.e_banner_profile_image_inner{width:60px;height:60px;margin:0 auto;border-radius:50%;background:url("../assets/img/e_profile_banner.png");background-repeat: no-repeat;background-position: center;background-size: cover;}
.e_banner_profile_image_inner img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_my_wedding_banner h4{color: #fff;font-size: 18px;font-weight:400;}
.e_my_wedding_banner p{color: #fff;margin: 0px;font-weight: 300;}
.e_my_wedding_banner hr{width:40px;border:2px solid #ff8bf9;height:0px;border-radius:20px;margin-top: 15px;}
.e_time_count_down{width:100%;text-align: center;padding-top:10px;padding-bottom: 30px;}
.e_time_count_down li{list-style: none;display: inline-block;color: #fff;padding-left:15px;padding-right: 15px;}
.e_time_count_down li p{color: #fff;font-size: 20px;font-weight: 400;}
.e_time_count_down li strong{font-weight: 400;font-size: 12px;}
.e_my_wedding_content{padding: 10px;background:#f1f1f1;height: calc(100% - 280px);overflow: scroll;}
.e_my_wedding_content ul{margin:0px;padding:0px;}
.e_my_wedding_content ul li{list-style: none;width:100%;background: #fff;padding:15px;border-right:2px solid #c045bb;margin-bottom: 10px;}
.e_my_wedding_content_head{width:100%;}
.e_my_wedding_content_icon{width:50px;height:40px;float: left;border-right:2px solid #cdcdcd;}
.e_my_wedding_content_icon img{height:35px;width:auto;}
.e_my_wedding_content_header{float: left;width: calc(100% - 50px);position: relative;}
.e_my_wedding_content_header p{color:#4c4c4c;padding:0px;margin:0px;font-weight: 500;font-size:18px;padding-left: 15px;padding-top: 10px;}
.e_my_wedding_content_details{width:100%;padding-top: 10px;}
.e_my_wedding_content_details ul{margin:0px;padding:0px;width:100%;}
.e_my_wedding_content_details ul li{width:100%;border:none;padding-left: 0px;padding-right: 0px;padding-bottom: 4px;padding-top: 4px;margin:0px;}
.e_my_wedding_content_details ul li p{padding: 0px;margin:0px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #848484;font-weight: 300;font-size: 15px;}
.e_checkbox_custom strong{font-weight: 500;margin-right: 15px;position: relative;bottom: 2px;}
.e_checkbox_custom input[type="checkbox"],
.e_checkbox_custom input[type="radio"] {position: absolute;opacity: 0;z-index: -1;width: 13px;height: 13px;}
.e_checkbox_custom label {position: relative;display: inline-block;height:13px;line-height: 1.5;cursor: pointer;padding:8px;}
.e_checkbox_custom label::before,
.e_checkbox_custom label::after {position: absolute;top: 0;left: 0;display: block;width:13px;height:13px;font-size: 12px !important;}
.e_checkbox_custom label::before {content: " ";border: 1px solid #bdc3c7;border-radius: 20%;}
.e_checkbox_custom input[type="checkbox"] + label::after {content: "\2714";color: #2c3e50;line-height: 1.5;text-align: center;}
.e_checkbox_custom input[type="radio"] + label::before {border-radius: 50%;}
.e_checkbox_custom input[type=radio] + label::after {content: " ";top: .25em;left: .25em;width: 1em;height: 1em;background: #fff;border: .2em solid #2c3e50;border-radius: 50%;}
.e_checkbox_custom input[type="checkbox"]:checked + label::before,
.e_checkbox_custom input[type="radio"]:checked + label::before {background: #fffeeb;border-color: #bdc3c7;}
.e_checkbox_custom input[type="checkbox"] + label::after,
.e_checkbox_custom input[type=radio] + label::after {-webkit-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);}
.e_checkbox_custom input[type="checkbox"]:checked + label::after,
.e_checkbox_custom input[type=radio]:checked + label::after {-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
.e_checkbox_custom label::before,
.e_checkbox_custom label::after {-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease;}
.e_checklist{font-size: 12px;color: #848484;margin-top: 10px;}
.e_checklist img{width: 13px;position: relative;top:4px;left: 5px;}
.e_my_wedding_list_circle{width:25px;height:25px; position: relative;bottom: 4px;background-color: #e5e5e5 !important;border-radius:50%;background:url("../assets/img/e_circle_img.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.e_my_wedding_list_circle img{width:100%;height:100%;object-fit: cover;object-position: center;border-radius:50%;}
.e_my_wedding_circle_not{width:25px;height:25px;border-radius:50%;color:#fff;background: #c045bb;float: right;position: absolute;right:0px;top:5px;text-align: center;padding: 4px;}
.e_my_wedding_vendor_div{width:100%;padding-top: 10px;}
.e_my_vendor_pic{width:50px;height:50px;border-radius:50%;float: left;background: #a8a8a8 !important;}
.e_my_vendor_pic img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_my_vendor_detail{width:calc(100% - 50px);float: left;padding: 9px;padding-left: 15px;}
.e_my_vendor_detail h6{margin:0px;padding:0px;color: #4c4c4c;text-transform: uppercase;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_my_vendor_detail p{margin:0px;padding:0px;color: #848484;font-size: 12px;font-weight: 300;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_my_vendor_msg{border-left:1px solid #c7c7c7;padding-left:15px;float: right;}
.e_my_vendor_msg img{width: 30px;}
.e_my_budget{width: 100%;}
.e_my_budget p{color: #4c4c4c;padding: 0px;margin:0px;padding-bottom: 5px;}
.e_my_budget_border{border-left:1px solid #c7c7c7;padding-left:30px !important;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
.e_my_budget strong{color: #f7931d;}

/* VENDOR */

.e_vendor_wrapper{width:100%;height:100%;background:#f1f1f1;padding: 10px;}
.e_vendor_inner_wrapper{width:100%;height:100%;background: #fff;}
.e_vendor_head{width:100%;padding: 15px;}
.e_vendor_head p{color: #4c4c4c;margin:0px;font-size: 18px;font-weight: 500;padding-bottom: 10px;}
.e_vendor_input{width:100%;height:50px;border:none;border-bottom: 1px solid #d4d4d4;font-size: 18px;font-weight: 300;padding-bottom:15px;letter-spacing: 1px;background:url("../assets/img/e_search.png");background-repeat: no-repeat;background-position: right 0px;background-size: 30px;}
.e_vendor_input::-webkit-input-placeholder {color: #c6c6c6;}
.e_vendor_input::-moz-placeholder {color:#c6c6c6;}
.e_vendor_input:-ms-input-placeholder {color:#c6c6c6;}
.e_vendor_input:-moz-placeholder { color:#c6c6c6;}
.e_vendor_content{width:100%;height:calc(100% - 113px);padding:15px;}
.e_vendor_content ul{padding: 0px;margin:0px;overflow: scroll;height: 100%;}
.e_vendor_content ul li{list-style: none;color: #727272;font-size: 18px;padding-top:10px;padding-bottom:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_vendor_content ul li span{margin-right:15px;}
.e_vendor_content ul li span img{width:20px;position: relative;top: 4px;}

/* IDEAS */

.e_my_ideas_content{padding: 10px;background:#f1f1f1;width: 100%;}
.e_my_ideas_content ul{width:100%;padding:0px;margin:0px;}
.e_my_ideas_content ul li{width:100%;list-style: none;padding:0px;background: #fff;margin-bottom:15px;}
.e_idea_head{width: 100%;padding-top: 15px;}
.e_idea_head h4{color: #6f6f6f;margin:0px;font-weight: 400;padding-left: 15px;padding-right:15px;border-left:3px solid #eab40e;}
.e_idea_head p{color: #8b8b8b;margin:0px;padding-left: 15px;padding-right:15px;border-left:3px solid #fff;padding-top: 10px;font-size: 14px;font-weight: 300;letter-spacing: 0px;}
.e_idea_detail{padding: 15px;}
.e_idea_detail p{color: #a1a1a1;text-align: justify;font-size: 14px;font-weight: 300;}
.e_idea_detail_image{width:100%;height:230px;}
.e_idea_detail_image img{width:100%;height:100%;object-fit: cover;object-position: center;}
.e_idea_pagination{width:100%;text-align: center;}
.e_idea_pagination li{display: inline-block;margin:0px !important;}
.e_idea_pagination .prev{width:30px;height:30px;border-radius:50%;background:url("../assets/img/e_prev_page.png");background-position: center;background-repeat: no-repeat;background-position: center;background-size: 27px;}
.e_idea_pagination .next{width:30px;height:30px;border-radius:50%;background:url("../assets/img/e_next_page.png");background-repeat: no-repeat;background-position: center;background-size: 27px;}
.e_idea_pagination .page_detail{width:100px;color: #7e7e7e;background: transparent;position: relative;bottom: 10px;}
.e_topic_content{padding: 10px;background:#f1f1f1;width: 100%;}
.e_topic_content ul{width:100%;padding:0px;margin:0px;}
.e_topic_content ul li{width:calc(100% - 50%);float:left;text-align: center;background: #fff;padding:10px;list-style: none;padding-top: 20px;border: 4px solid #f1f1f1;}
.e_topic_content h4{text-align: center;color:#4c4c4c;padding-bottom: 10px;}
.e_topic_circle{width:90px;height:90px;border-radius:50%;background: #c7c7c7;margin: 0 auto;}
.e_topic_circle img{width:100%;height:100%;border-radius: 50%;object-fit: cover;object-position: center;}
.e_topic_content ul li p{margin:0px;color: #acacac;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 15px;padding-bottom: 15px;font-size: 13px;}

/* MORE */

.e_profile_banner{width:100%;padding: 20px;height: 130px;}
.e_profile_banner_picture{width:80px;height:80px;border-radius:50%;float: left;background-color: #f1f1f1 !important;position: relative;background:url("../assets/img/e_profile_avatar.png");background-position: center;background-repeat: no-repeat;background-size:25px;}
.e_profile_banner_edit{position: absolute;left:-10px;top:25px;width:30px;height:30px;background:url("../assets/img/e_profile_edit.png");background-position: center;background-repeat: no-repeat;background-size: 35px;border-radius:50%;background-size:30px;}
.e_profile_banner_detail{float: left;padding: 30px;padding-left: 15px;padding-right: 0px;width:40%;}
.e_profile_banner_msg{float: right;width:25%;border-left:1px solid #dc9bdc;margin-top: 30px;}
.e_profile_banner_detail h5{margin:0px;padding: 0px;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_profile_banner_detail p{margin:0px;padding:0px;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_profile_notification{width:25px;height:25px;text-align: center;font-size: 12px;border-radius:50%;background:#ffa800;color:#fff;margin-left: 10px;padding-top:5px;padding-bottom:5px;}
.e_profile_content{height: calc(100% - 130px);width:100%;background: #f1f1f1;padding: 15px;overflow: scroll;}
.e_profile_content ul{padding:0px;margin:0px;}
.e_profile_content ul li{width:100%;list-style: none;color: #727272;font-size: 16px;padding-top: 10px;padding-bottom: 10px;}
.e_profile_content ul li span{margin-right: 15px;position: relative;top: 5px;}
.e_profile_content ul li span img{height: 20px;}
.e_profile_content ul li .e_collpase{width:30px;height:30px;margin:0px;background:url("../assets/img/e_down_arw.png");background-repeat: no-repeat;background-position: center;}
.e_profile_content ul .active .e_collpase{width:30px;height:30px;margin:0px;background:url("../assets/img/e_up_arw.png") !important;background-repeat: no-repeat !important;background-position: center !important;}

/* COVER-EDIT */

.e_banner_upload{background: transparent;border: 1px solid #fff;color: #fff;border-radius: 20px;padding: 3px;padding-left: 10px;padding-right: 10px;margin: 0 auto;width: 110px;margin-top: 20px;margin-bottom:10px;}
.e_cover_edit_back{position: absolute;top:10px;left:0px;font-size: 20px;}
.e_cover_edit_content{width:100%;padding-top: 15px;}
.e_cover_edit_content h5{margin:0px;padding:0px;color: #8c8c8c;font-size: 13px;font-weight: 400;}
.e_cover_edit_content hr{width:35px;height:0px;border:0.5px solid #ffb400;margin:0 auto;margin-top:6px;margin-bottom: 10px;}
.e_cover_edit_content span img{width: 23px;}
.e_cover_edit_input{width:100%;height:35px;border:none;border-bottom:1px solid #b9b9b9;font-weight: 500;font-size: 18px;padding-bottom: 15px;color:#b9b9b9;}
.e_cover_edit_input::-webkit-input-placeholder {color:#b9b9b9;}
.e_cover_edit_input ::-moz-placeholder { color:#b9b9b9;}
.e_cover_edit_input :-ms-input-placeholder { color:#b9b9b9;}
.e_cover_edit_input :-moz-placeholder {color:#b9b9b9;}
.e_cover_edit_input1{width:100%;height:35px;border:none;border-bottom:1px solid #b9b9b9;font-weight:300;font-size: 18px;padding-bottom: 15px;color:#c8c8c8;}
.e_cover_edit_input1::-webkit-input-placeholder {color:#c8c8c8;}
.e_cover_edit_input1 ::-moz-placeholder { color:#c8c8c8;}
.e_cover_edit_input1 :-ms-input-placeholder { color:#c8c8c8;}
.e_cover_edit_input1 :-moz-placeholder {color:#c8c8c8;}
.e_cover_btn_bay{width:100%;text-align: center;padding-top: 50px;}
.e_cover_save{height:35px;background:#ffb400;border-radius:25px;color: #fff;font-weight: 400;padding-left: 40px;padding-right: 40px;}
.e_cover_cancel{height:35px;color: #8c8c8c;font-weight: 400;padding-left: 40px;border-radius:25px;padding-right: 40px;}

/* TO-DO-LIST */

.e_task_number{width:100%;padding: 15px;padding-bottom: 0px;padding-top: 25px;}
.e_task_number_border{border-left:1px solid #c2c2c2;}
.e_task_number p{padding: 0px;margin:0px;color: #7a7a7a;font-weight: 500;font-size: 16px;}
.e_task_number strong{color: #505050;font-size:35px;}
.e_task_number_col{padding-left: 25px;padding-right:25px;}
.e_task_number_color{color: #54bcaf !important;}
.e_task_number h6{color: #848484;text-align: center;font-weight: 300;font-size: 15px;padding-top: 10px;margin-bottom: 0px;}
.e_task_number h6 strong{font-size:15px;}
.e_task_range_bar{width:100%;padding: 0px;border:none !important;height: 30px;}
.e_task_range_bar .range-knob{display: none;}
.e_task_range_bar .range-bar{height:5px;border-radius:20px;background: #d8d8d8;}
.e_task_range_bar .range-bar-active{background: #54bcaf !important;}
.e_task_range_bar .item-inner{padding: 0px !important;}
.e_task_tab_bay{width:100%;text-align: center;border-bottom:0.5px solid #a1a1a1;}
.e_task_tab_bay li{display: inline-block;position: relative;list-style: none;color: #c0c0c0;height: 100%;font-size:14px;font-weight:400;letter-spacing: 1px;width:32%;text-align: center;padding-bottom:15px;}
.e_task_tab_bay .active{color: #6d3c6d;}
.e_task_tab_bay .pending{}
.e_task_tab_bay .completed{}
.e_task_tab_bay .all{}
.e_task_tab_bay span{}
.e_task_tab_bay span img{width:24px;position: relative;top:7px;margin-right:5px;}
.e_task_tab_bay li span{}
.e_task_tab_bay li .not_active{display: inline-block !important;}
.e_task_tab_bay li .active{display: none !important;}
.e_task_tab_bay .active .not_active{display: none !important;}
.e_task_tab_bay .active .active{display: inline-block !important;}
.e_point_arrow{position: absolute;width:30px;height:30px;background:url("../assets/img/e_arrow.png");background-position: center;background-repeat: no-repeat;bottom: -20px;left: 45%;z-index: 99;}
.e_task_tab_bay .e_point_arrow{display: none;}
.e_task_tab_bay .active .e_point_arrow{display: block !important;}
.e_task_tab_content{width:100%;height:calc(100% - 220px);}
.e_task_tab_content_slide{width:100%;height:100%;padding-top: 20px;position: relative;}
.e_task_slide_tost_date{width:100%;background-color:#f2f1ec !important;background:url("../assets/img/e_yellow_dot.png");color: #7a7a7a;text-align: left;padding-top:8px;padding-bottom:8px;padding-left: 45px;background-repeat: no-repeat;background-size: 8px;background-position: 20px;}
.e_task_slide_tost_date h5{margin:0px;font-size: 13px;font-weight: 400;padding-bottom: 4px;}
.e_task_slide_tost_date h6{margin:0px;font-size: 13px;font-weight: 300;}
.e_task_tab_content_slide ul{margin:0px;padding:0px;}
.e_task_tab_content_slide ul li{padding: 0px;margin:0px;list-style: none;}
.e_task_checkbox{width:50px;float: left;padding-top: 10px;padding-bottom: 10px;position: relative;}
.e_task_list_content{width:calc(100% - 50px);float: left;padding-top: 10px;padding-bottom: 10px;border-bottom:1px solid #e2e2e2;}
.e_task_list_content h5{padding:0px;margin:0px;color: #5d5d5d;font-size: 16px;font-weight: 400;padding-top: 3px;}
.e_task_list_content h6{padding:0px;margin:0px;color: #9a9a9a;font-size: 14px;}
.e_task_checkbox label {display: inline-block;cursor: pointer;position: relative;padding-left: 25px;margin-right: 15px;font-size: 13px;}
.e_task_checkbox label:before {content: "";display: inline-block;width: 12px;height: 12px;margin-right: 10px;position: absolute;left:10px;bottom:-10px;background-color:transparent;border:2px solid #54bcaf;}
.e_task_checkbox input[type=checkbox] {display: none;}
.e_task_checkbox label:before {border-radius: 3px;}
.e_task_checkbox input[type=checkbox]:checked + label:before {content: "\2713";font-size: 10px;color: #fff;background: #54bcaf;text-align: center;line-height: 15px;}
.e_task_add{width:60px;height:60px;background-color: #f09f1e !important;color: #fff;border-radius:50%;position:absolute;bottom:10px;right:20px;font-weight: 600;font-size: 25px;box-shadow:0px 3px 5px #888888;}

/* NEW-TASK */

.e_task_form{width:100%;padding:15px;}
.e_task_form_row{width:100%;padding-bottom: 20px;}
.e_task_form_row p{color: #4c4c4c;margin: 0px;font-weight: 600;font-size: 15px;padding-bottom:0px;}
.e_new_task_input{width:100%;border:none;border-bottom:1px solid #cbcbcb;height:40px;color: #d7d7d7;font-size: 18px;font-weight: 300;}
.e_new_task_select{width:100%;border:none;border-bottom:1px solid #cbcbcb;height:40px;color: #d7d7d7;font-size: 18px;font-weight: 300;background:url("../assets/img/e_down_arrow.png");-webkit-appearance: none;-moz-appearance: none;background-repeat: no-repeat;background-position: right;}
.e_new_task_textarea{width:100%;border:1px solid #cbcbcb;text-align: left;color: #d7d7d7;font-size: 18px;font-weight: 300;margin-top:10px; }
.e_new_task_input::-webkit-input-placeholder {color:#d7d7d7;}
.e_new_task_input::-moz-placeholder { color: #d7d7d7;}
.e_new_task_input :-ms-input-placeholder { color: #d7d7d7;}
.e_new_task_input :-moz-placeholder {color: #d7d7d7;}

/* RADIO-POP */

.e_radio_pop_inner{width:300px;background:#fff;margin:0 auto;padding:20px;border-radius:5px; position: relative;top: 10%;padding-left: 20px;padding-right:20px;}
.e_radio_pop_inner .item-block .item-inner{border:none !important;color: #808080;font-size: 18px;font-weight: 300;letter-spacing: 1px;}
.e_radio_pop_inner .item-block{padding: 0px;}
.e_radio_pop_inner .item-block .radio-icon{width:20px !important;height:20px !important;}
.e_radio_pop_inner .item-block .radio-checked{border:1px solid #ffb400;}
.e_radio_pop_inner .item-block .radio-inner{background: #ffb400;width:10px !important;height:10px !important;left:4px !important;top:4px !important;}
.e_radio_pop_inner .item-radio-checked ion-label{color: #ffb400 !important;}

/* MY-GUESTS */

.e_guest_tab_bay{width:100%;}
.e_guest_tab_bay ul{padding:0px;margin:0px;}
.e_guest_tab_bay ul li{list-style: none;color: #fff;font-size: 13px;display: inline-block;padding: 10px;padding-bottom: 20px;padding-left: 5%;padding-right: 5%;position: relative;}
.e_guest_tab_bay ul li span{display: inline-block;}
.e_wedding_tab_content{width:100%;height: calc(100% - 50px);}
.e_guest_tab_bay ul li .arrow-up {width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 12px solid #fff;display: none;bottom:-2px;left:45%;}
.e_guest_tab_bay ul .active .arrow-up {display: block;position: absolute;}
.e_add{background:url("../assets/img/e_add.png");background-position: center;background-repeat: no-repeat;background-size:32px;}
.e_guest_tab_content_wrapper{width:100%;}
.e_guest_no_post{text-align: left;padding: 25px;}
.e_guest_no_post h5{color: #767676;padding: 0px;margin:0px;font-size: 26px;font-weight: 300;}
.e_guest_no_post h6{color: #767676;padding: 0px;margin:0px;font-size: 20px;font-weight: 300;padding-bottom: 5px;padding-top: 5px;}
.e_guest_no_post p{color: #767676;padding: 0px;margin:0px;font-weight:300;font-size: 16px}
.e_guest_no_post p span{position: relative;top: 10px;margin-left:10px;margin-right:10px;}
.e_guest_no_post hr{width:35px;border:2px solid #979797;height:0px;border-radius:20px;margin: 0;margin-top: 20px;}

/* ADD-GUEST */

.e_add_guest_wrapper{width:100%;}
.e_add_guest_pack{background: #fff;border-right:2px solid #c045bb;margin-bottom: 10px;}
.e_task_bar{width:100%;padding-top: 20px;}
.e_task_bar p{color: #bfbfbf;font-size: 15px;font-weight: 300;letter-spacing: 1px;width: 100%;}
.e_task_bar img{width: 25px;}
.e_task_border{border-left:1px solid #cbcbcb;border-right:1px solid #cbcbcb;}
.e_mail{background:url("../assets/img/e_mail.png");background-position:left;background-repeat: no-repeat;background-size: 20px;padding-left: 35px;}
.e_address{background:url("../assets/img/e_loc.png");background-position:left;background-repeat: no-repeat;background-size: 20px;padding-left: 35px;}
.e_number{background:url("../assets/img/e_call.png");background-position:left;background-repeat: no-repeat;background-size: 20px;padding-left: 35px;}
.e_add_guest_btn_bay{width:100%;background:#f1f1f1;}
.e_add_guest_btn{background:#f1f1f1;height:50px;color: #959595;display: inline-block;margin:0px !important;width:32%;border-radius:0px;}
.e_add_guest_btn:focus{background:#686868;color: #e8e8e8;}
.e_add_guest_bottom_btn{width:100%;height:40px;background: #a34fa3;border-radius:20px;color: #fff;}

/* ADDED-GUEST */

.e_guest_added{width:100%;padding: 25px;}
.e_guest_added ul{width:100%;padding:0px;margin:0px;}
.e_guest_added ul li{width: 100%;list-style: none;padding-bottom: 10px;}
.e_guest_added_group_circle{width:45px;height:45px;border-radius:50%;background:url("../assets/img/e_group_guest_circle.png");background-position: center;background-repeat: no-repeat;background-size: cover;float: left;}
.e_guest_added_group_circle img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_guest_added_group_detail{float: left;width:calc(100% - 80px);text-align:left;padding: 5px;padding-left:15px;}
.e_guest_added_group_detail h5{margin:0px;padding:0px;color: #4c4c4c;font-size: 16px;}
.e_guest_added_group_detail h6{margin:0px;padding:0px;color: #868686;}
.e_guest_added ul li .e_collpase{width:30px;height:30px;margin:0px;background:url("../assets/img/e_down_arrow.png");background-repeat: no-repeat;background-position: center;}
.e_guest_added .active .e_collpase{width:30px;height:30px;margin:0px;background:url("../assets/img/e_up_arrow.png") !important;background-repeat: no-repeat !important;background-position: center !important;}
.e_added_guest_name{float: left;}
.e_added_guest_name h5{color: #5d5d5d;font-size: 16px;font-weight: 400;padding-top:6px;margin:0px;}
.e_collapsed_div{}
.e_collapsed_div ul{padding-left:45px;padding-bottom: 10px;}
.e_collapsed_div ul li{width:100%;padding-bottom: 5px;}
.e_collapsed_div .e_task_tab_content_slide{padding-top: 0px;}
.e_collapsed_div .e_task_checkbox{padding: 0px;position: relative;width:30px;}
.e_collapsed_div label:before {content: "";display: inline-block;width: 12px;height: 12px;margin-right: 10px;position: absolute;left:0px;top:-10px;background-color:transparent;border:2px solid #54bcaf;}
.e_added_task_more{float: right;width:30px;height:30px;background-position: center !important;background-repeat: no-repeat !important;background-size: 15px !important;}
.e_checked{background:url("../assets/img/e_d1.png");}
.e_more{background:url("../assets/img/e_d2.png");}

/* POP-OVER-EVENT */

.e_event_popover{width:100%;padding-left: 10px;padding-right: 10px;padding-bottom:10px;}
.e_event_popover ul{margin:0px;padding:0px;}
.e_event_popover ul li{width:100%;list-style: none;color:#808080;font-size: 16px;font-weight: 300;padding-top:10px;padding-bottom:10px;}
.e_event_popover ul li span{margin-right:15px;}
.e_event_popover ul li span img{width: 15px;}
.e_guest_not{background: #782b78;width:23px;height:23px;border-radius:50%;color: #fff;text-align:center;padding: 3px;margin-left: 5px;}
.e_task_vendor_btn{width: 100%;height:40px;border-radius:20px;border:none;background: #fead00;color: #fff;}
.e_task_vendor_btn ion-icon{margin-left:10px;}

/* VENDOR-DETAILS */

.e_vendor_details{width:100%;}
.e_vendor_details h5{color: #4c4c4c;position: relative;}
.e_vendor_details .notification{width:23px;height:23px;font-size: 11px;background:#f10000;color:#fff;text-align: center;padding: 4px;border-radius: 50%;position: absolute;right:0px;top:0px;}
.e_vendor_details ul{padding:0px;margin:0px;}
.e_vendor_details ul li{width:100%;background: #fff;list-style: none;padding: 5px;border-right:2px  solid #c045bb;margin-bottom:10px;}
.e_vendorphoto_div{width:65px;height:65px;float: left;border-right:1px solid #dedede;padding: 5px;}
.e_vendorphoto_div_inner{width:55px;height:55px;border-radius:50%;background: #f1f1f1;}
.e_vendorphoto_div_inner img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_vendordetail_div{width:calc(100% - 65px);float: left;}
.e_vendor_detail_left h5{margin:0px;color: #676767;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 16px;font-weight: 400;}
.e_vendor_detail_left h6{margin:0px;color: #969696;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 15px;font-weight: 400;}
.e_vendor_detail_left{width:calc(100% - 80px);padding: 15px;}
.e_vendor_detail_right{width:80px;position: relative;}
.e_vendor_detail_right .e_vendor_msg_span{border-left:1px solid #c7c7c7;text-align: center;position: relative;top: 20px;}
.e_vendor_detail_right .e_vendor_msg_span img{width: 20px;}
.e_vendor_detail_right .e_evalution{color:#fff;background:#ff9600;font-size: 10px;width:55px;text-align: center;position: absolute;top: -4px;left:15px;padding-bottom: 2px;padding-top: 2px;}
.e_no_booking_div{width:100%;padding-top: 10%;}
.e_no_booking_div p{color: #9e9e9e;font-weight: 300;line-height: 20px;font-size: 14px;}
.e_no_booking_div hr{border:2px solid #f09f1e;width:35px;border-radius:20px;height:0px;}
.e_no_booking_div h4{color: #7a7a7a;    font-size: 16px;}
.e_no_booking_div_btn{background:#4c4c4c;color: #d7d7d7;border-radius:20px;height:35px;margin:0 auto;padding-left:40px;padding-right:40px;}

/* BUDGET */

.e_budget_cash{width:100%;padding:10px;padding-top: 20px;padding-bottom: 20px;}
.e_budget_cash span img{width:30px;}
.e_budget_cash p{margin:0px;padding:0px;color:#a3a3a3;font-size: 13px;padding-top:5px;padding-bottom: 5px;}
.e_budget_cash h6{margin:0px;padding:0px;padding-bottom: 5px;}
.e_budget_cash .green{color: #00bb5c;}
.e_budget_cash .red{color: #e82c2c;}
.e_budget_estimated{width: 100%;}
.e_budget_estimated ul{width:100%;padidng:0px;margin:0px;}
.e_budget_estimated ul li{width:100%;}
.e_budget_estimated ul li h6{color: #727272;margin:0px;padding:0px;}
.e_budget_estimated ul li p{color: #aeaeae;font-weight: 300;margin:0px;padding:0px;padding-top: 5px;}
.e_budget_estimated ul li p .red{color: #e82c2c;}

/* ADD-EXPENSE */

.e_price_sign{width:20px;text-align: center;color: #4c4c4c;margin-top: 10px;font-size: 16px;padding-top: 10px;}
.e_new_task_input_price{width:calc(100% - 20px);border:none;background:#f1f1f1;height: 40px;padding-left: 10px;margin-top: 10px;}

/* SEARCH-RESULT-PAGE */

.e_secondary_header{padding: 10px;height:30px;}
.e_secondary_search_bar{width:100%;height:40px;border:none;border-radius:20px;background-color:#fff !important;background:url("../assets/img/e_loc.png");background-repeat: no-repeat !important;background-position: 12px;background-size: 20px;padding-left: 45px; font-size: 16px;font-weight: 300;letter-spacing: 1px;box-shadow: 0px 0px 10px -10px #000;}
.e_secondary_search_bar::-webkit-input-placeholder {color:#d0cfcf;}
.e_secondary_search_bar::-moz-placeholder {color:#d0cfcf;}
.e_secondary_search_bar:-ms-input-placeholder {color:#d0cfcf;}
.e_secondary_search_bar:-moz-placeholder { color:#d0cfcf;}
.e_searchresult_wrapper{width:100%;}
.e_searchresult_wrapper ul{margin:0px;padding:0px;width:100%;margin-top: 15px;}
.e_searchresult_wrapper ul li{width:100%;;list-style: none;width:100%;background: #fff;margin-bottom:10px;}
.e_search_result_banner{width:100%;height:200px;position:relative;}
.e_search_result_banner img{width:100%;height:100%;object-fit: cover;object-position: center;}
.e_search_result_detail{width:100%;padding: 15px;}
.e_search_result_detail h4{margin:0px;color: #6d6d6d;font-weight: 400;}
.e_search_result_detail h6{margin:0px;color: #a7a7a7;font-size:13px;font-weight: 400;padding-bottom: 2px;padding-top: 2px;}
.e_search_result_detail p{margin:0px;color: #6d6d6d;margin: 0px;color: #6d6d6d;font-size: 13px;font-weight: 300;line-height: 18px;padding-top: 5px;text-align: justify;}
.e_search_result_btm{width:100%;padding-top: 10px;padding-bottom: 5px;}
.e_search_result_btm span img{width:15px;margin-right:10px;}
.e_search_result_btm span{color: #6d6d6d;font-weight: 600;margin-right: 10px;}
.e_more_info{background:#363636;color: #fff;border-radius:20px;padding:6px;padding-left:12px;padding-right:12px;}
.e_banner_photo_tag{background: rgba(0,0,0,0.8);position: absolute;bottom:0px;left:0px;padding: 5px;padding-left: 10px;padding-right:10px;}
.e_banner_photo_tag span{display: inline-block;color: #fff;margin-right:5px;font-size: 12px;}
.e_banner_photo_tag span img{width:15px;}

/* RESULT-DETAIL */

.e_premium_tag{background:#ff0000;color: #fff;padding: 5px;font-size: 12px;font-weight: 600;letter-spacing: 2px;-ms-transform: rotate(-40deg);-webkit-transform:rotate(-40deg);transform: rotate(-40deg);position: absolute;top: 23px;padding-left: 30px;padding-right: 30px;left: -24px;}
.e_like{position: absolute;width:45px;height:45px;background-color:#c849c8 !important;background:url("../assets/img/e_like.png");background-repeat: no-repeat;background-position: center;background-size: 15px;border-radius: 50%;top:10px;right:10px;border:none;}
.e_detail_btn_bay{width:100%;height:45px;background:#363636;margin-top:10px;padding: 5px;}
.e_detail_btn_bay li{width:50% !important;float: left;text-align: center;background: transparent;margin: 0px !important;height: 100%;background: transparent !important;color: #e1e1e1;font-size: 16px;}
.e_detail_btn_bay li img{position:relative;top: 4px;margin-right: 10px;}
.e_detail_btn_bay li span{position: relative;bottom: 2px;}
.e_guest_price{width:100%;padding-top: 15px;}
.e_guest_price li{display: inline-block;width: auto !important;padding-right: 20px;border-right:1px solid #d3d3d3;}
.e_guest_price_circle{width:30px;height:30px;border-radius:50%;background: #e3e3e3;position: relative;top: 1px}
.e_guest_price_circle img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.e_guest_price_detail{padding-left:10px;}
.e_guest_price_detail h5{margin:0px;color: #6d6d6d;font-size: 14px;}
.e_guest_price_detail h6{margin:0px;font-size: 11px;}
.e_result_details_div{width:100%;padding:15px;}
.e_result_details_div h5{color: #4c4c4c;margin:0px;font-weight: 700;font-size: 13px;}
.e_result_details_div h3{color: #5a5a5a;margin-bottom: 0px;font-size: 17px;margin-top:8px;font-weight: 500;}
.e_result_details_div h4{color: #919191;margin-top:5px;font-size: 14px;margin-bottom: 0px;font-weight: 400;}
.e_readmore{border:1px solid #b2b2b2;border-radius:20px;color: #b2b2b2;padding-left:15px;padding-right:30px;padding-top:6px;padding-bottom:6px;background-color: transparent !important;background:url("../assets/img/e_drop_dwn.png");background-repeat: no-repeat !important;margin-top:20px;background-position: right 10px top 6px !important;}
.e_result_details_div p{margin-bottom: 0px;color: #6d6d6d;font-size: 12px;font-weight: 300;margin-top: 10px;line-height: 15px;text-align: justify;}
.e_result_next{background:#fead00;border-radius:20px;height:30px;color: #fff;padding-left:20px;padding-right:20px;}

/* MORE-INFO-MODAL */

.e_moreinfo_wrapper{width:80%;margin:0 auto;background: #fff;margin-top: 15%;}
.e_moreinfo_header{width:100%;background:#393939;color:#e1e1e1;position: relative;padding: 15px;font-weight:500;letter-spacing: 1px;font-size: 16px;}
.e_more_info_close{width:30px;height:30px;border-radius:50%;position: absolute;right:10px;top:10px;background: transparent;}
.e_more_info_close img{width:100%;height:100%;object-fit: cover;object-position: center;}

/* FILTER-BY */

.e_filterby_wrapper{width:100%;}
.e_filterby_wrapper ul{padding:0px;margin:0px;}
.e_filterby_wrapper ul li{width: 100%;list-style: none;}
.e_filter_list_head{width:100%;color: #4c4c4c;font-size: 16px;padding: 10px;padding-left: 20px;}
.e_filter_list_collapsed{width: 100%;padding-left:15px;}
.e_filterby_wrapper ul li .e_filter_list_head .e_collpase{width:20px;height:20px;margin:0px;background:url("../assets/img/e_t1.png");background-repeat: no-repeat;background-position: center;background-size: 20px;}
.e_filterby_wrapper ul li .active .e_collpase{width:20px;height:20px;margin:0px;background:url("../assets/img/e_t2.png") !important;background-repeat: no-repeat !important;background-position: center !important;background-size: 20px !important;}
.e_filter_list_collapsed .item{padding-left: 0px !important;border:none !important;min-height: 10px !important;}
.e_filter_list_collapsed .item .checkbox{margin-right:5px !important;margin-left:0px;margin-top:0px;margin-bottom: 0px;}
.e_filter_list_collapsed ion-list{margin:0px !important;}
.e_filter_list_collapsed .input-wrapper{color: #969696;font-size:14px;font-weight: 300;letter-spacing: 1px;}
.e_filter_list_collapsed .checkbox .checkbox-icon{border-color: transparent !important;}
.e_filter_list_collapsed .checkbox .checkbox-checked{background: transparent !important;color: #25dfad !important;}
.e_filter_list_collapsed .checkbox .checkbox-checked .checkbox-inner{border-color:#25dfad !important;}
.e_filterby_wrapper ul li .e_add_guest_pack{margin-bottom: 5px !important;}
.e_secondary_search_bar1 {width: 100%;height: 40px;border: none;border-radius: 20px;background-color: #fff !important;background: url(../assets/img/e_search_icon.png);background-repeat: no-repeat !important;background-position: top 8px right 12px;background-size:25px;padding-right: 45px;padding-left:10px;font-size: 16px;font-weight: 300;letter-spacing: 1px;-webkit-box-shadow: 0px 0px 10px -10px #000;box-shadow: 0px 0px 10px -10px #000;}

/* IDEA-DETAIL */

.e_social_listing{width:100%;background:url("../assets/img/e_share.png") !important;background-repeat: no-repeat !important;background-size: 35px !important;background-position: 15px !important;padding-left:60px;height: 40px;padding-top: 8px;padding-bottom: 8px;}
.e_social_listing li{display: inline-block;width: auto !important;margin-bottom: 0px !important;margin-right:10px;}
.e_social_listing li img{width:18px;}

/* MY-ACCOUNT */

.e_account_banner{width:100%;height:180px;padding: 25px;background:url("../assets/img/e_account_banner.png") !important;background-repeat: no-repeat !important;background-position: center !important;background-size: cover !important;}
.e_account_profile_pic{width:90px;height:90px;border-radius:50%;margin:0 auto;position: relative;background-color: #f1f1f1 !important;background:url("../assets/img/e_profile_avatar.png");background-repeat: no-repeat !important;background-position: center !important;background-size: 25px;}
.e_account_profile_pic img{width:100%;height:100%;border-radius:50%;}
.e_account_profile_pic_edit{width:30px;height:30px;border-radius:50%;background:url("../assets/img/e_profile_edit.png") !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;position: absolute;top:35px;left:-10px;}
.e_account_banner h4{width: 100%;color: #ffffff;margin:0px;font-size: 16px;padding-top: 15px;}

/* MY-PROFILE */

.e_more_profile_div{width:100%;background: #fff;padding:15px;margin-bottom: 10px;}
.e_more_profile_div h4{margin:0px;color: #c849c8;font-size:17px;padding-bottom:15px;}
.e_more_form{width:100%;padding-top: 5px;}
.e_more_row{width:100%;padding-bottom: 20px;}
.e_more_form p{color: #4c4c4c;margin:0px;font-weight: 600;letter-spacing: 1px;font-size: 13px;padding-bottom: 10px;}
.e_more_select_input{width:100%;border:none;border-bottom:1px solid #cbcbcb;height:40px;font-size: 18px;color: #2b2b2b;font-weight: 500;background:url("../assets/img/e_down_arw1.png") !important;-webkit-appearance: none !important;-moz-appearance: none !important;background-repeat: no-repeat !important; background-position: right 10px top 12px !important;}
.e_more_input{width:100%;font-weight: 300;border:none;border-bottom:1px solid #cbcbcb;height:40px;font-size: 16px;color: #2b2b2b;}
.e_more_input_textarea{width:100%;border:1px solid #cbcbcb;font-size: 18px;color: #2b2b2b;font-weight: 500;}
.e_more_input::-webkit-input-placeholder { color:#d7d7d7;}
.e_more_input::-moz-placeholder {color:#d7d7d7;}
.e_more_input:-ms-input-placeholder { color:#d7d7d7;}
.e_more_input:-moz-placeholder { color:#d7d7d7;}

.e_more_input1{width:100%;font-weight: 300;border:none;height:40px;font-size: 16px;color: #2b2b2b;}
.e_more_input1::-webkit-input-placeholder { color:#d7d7d7;}
.e_more_input1::-moz-placeholder {color:#d7d7d7;}
.e_more_input1:-ms-input-placeholder { color:#d7d7d7;}
.e_more_input1:-moz-placeholder { color:#d7d7d7;}

/* SIGN-UP */

.e_signup_header{width: 100%;padding: 10px;font-size: 24px;font-weight: 800;color: #fff;letter-spacing:2px;padding-left: 20px;}
.e_signup_header hr{margin:0px;padding:0px;border:2px solid #ffa200;width:50px;height:0px;position: relative;top:14px;}
.e_signup_wrapper{width:100%;height:100%;padding-top: 10px;}
.e_signup_wrapper h3{color: #8b8b8b;margin: 0px;font-weight:300;}
.e_signup_form{width:100%;padding-top:20px;}
.e_signup_form_row{width:100%;padding-bottom: 20px;}
.e_signup_form_row p{margin:0px;color: #6f6f6f;font-weight: 600;}
.e_signup_input{width:100%;padding-left: 0px;border:none;border-bottom:1px solid #b5b5b5;background: transparent;height: 40px;font-size: 16px;color:#a5a5a5;font-weight: 300;}
.e_signup_input::-webkit-input-placeholder { color:#a5a5a5;}
.e_signup_input::-moz-placeholder {color:#a5a5a5;}
.e_signup_input:-ms-input-placeholder { color:#a5a5a5;}
.e_signup_input:-moz-placeholder { color:#a5a5a5;}
.e_calender_calender{background:url("../assets/img/e_calender.png") !important;background-repeat: no-repeat !important;background-position: right !important;background-size: 23px !important;}
.e_signup_form_row .e_task_checkbox label{font-size: 17px;color:#848484;font-weight: 300;padding-left:40px;}
.e_signup_form_row .e_task_checkbox label:before{top:0px !important;}
.e_signup_form_row h6{color:#808080;margin:0px;font-size: 17px;font-weight: 400;}
.e_signup_input ion-datetime{padding-left: 0px !important;}

/* NOTIFICATION */

.e_notification_wrap{width:100%;}
.e_notification_wrap h5{color: #868686;font-size: 16px;margin-bottom: 5px;}
.e_notification_wrap p{color:#2b2b2b;background:url("../assets/img/e_edit1.png") !important;background-repeat: no-repeat !important;background-position: right !important;margin: 0px;padding-top:5px;padding-bottom:5px;background-size: 22px !important;font-weight: 400 !important;}
.e_notification_wrap ul{padding:0px;margin:0px;}
.e_notification_wrap ul li{width:100%;margin:0px;list-style: none;}
.e_notification_wrap ul li .e_task_checkbox{width:100%;}
.e_notification_wrap ul li .e_task_checkbox label{color: #9a9a9a;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_notification_wrap ul li .e_task_checkbox label:before{bottom:0px !important;left:0px !important;}

/* CHAT */

.e_chat__list{width:100%;}
.e_chat__list ul {width:100%;padding:0px;margin:0px;}
.e_chat__list ul li{width:100%;list-style: none;background: #ffffff;padding: 15px;margin-bottom: 5px;padding-top: 20px;padding-bottom: 20px;}
.e_chat_profile_pic{width:70px;height:70px;border-radius:50%;float: left;}
.e_chat_profile_pic img{width:100%;height:100%;border-radius:50%;object-position: center;object-fit:cover;}
.e_chat_profile_detail{float: left;width:calc(100% - 70px);padding:5px;padding-left: 20px;position: relative;padding-top:10px;}
.e_chat_profile_detail h5{margin:0px;color:#4c4c4c;font-size:14px;}
.e_chat_profile_detail p{margin:0px;color: #6d6d6d;font-size: 13px;padding-top: 6px;overflow: hidden;text-overflow: ellipsis;overflow-wrap: break-word;height: 35px;}
.e_chat_date{position: absolute;top:7px;right:0px;color: #888888;font-size: 12px;}
.e_status{width:20px;height:20px;background-repeat: no-repeat !important;background-position: center !important;}
.e_online{background:url("../assets/img/e_online.png") !important;}
.e_offline{background:url("../assets/img/e_offline.png") !important;}
.e_away{background:url("../assets/img/e_away.png") !important;}

/* CHAT-MESSAGES */

.e_chat_message_wrapper{width: 100%;padding:15px;height:calc(100% - 102px);}
.e_chat_bottom_bay{width:100%;padding:15px;}
.e_chat_tools{width: 100%;}
.e_chat_tools li{display: inline-block;list-style: none;padding-left: 5px;padding-right:5px;}
.e_chat_tools li img{height:18px;}
.e_type_box{width:100%;}
.e_type_input_box{width:calc(100% - 60px);float: left;height: 50px;}
.e_type_input{border:none;font-style: italic;height: 100%;width: 100%;font-size: 16px;font-weight: 300;}
.e_type_input::-webkit-input-placeholder { color:#cccccc;}
.e_type_input::-moz-placeholder { color:#cccccc;}
.e_type_input:-ms-input-placeholder { color:#cccccc;}
.e_type_input:-moz-placeholder {color:#cccccc;}
.e_type_enter_box{float:right;width:50px;height:50px;background-color:#c849c8 !important;border-radius:50%;background:url("../assets/img/e_enter.png");background-position: center !important;    background-size: 25px !important;background-repeat: no-repeat !important;}
.e_chat_message_wrapper ul{padding:0px;margin:0px;}
.e_chat_message_wrapper ul li{list-style:none;width:100%;padding-bottom: 30px;}
.e_chat_message_div{}
.e_chat_pic{width:55px;height:55px;border-radius:50%;background:#a8a8a8;}
.e_chat_pic img{width:100%;height:100%;object-fit: cover;object-position: center;border-radius:50%;}
.e_chat_date_time{color:#888888;font-size: 10px;padding-bottom: 5px;}
.e_chat_message_div{width:80%;}
.e_chat_message{max-width:calc(100% - 65px);}
.e_chat_message_type{padding:10px;border-radius: 5px;text-align: justify;position: relative;}
.e_send{}
.e_receive{}
.e_arw{position: absolute;background-repeat: no-repeat !important;background-position: center !important;}

/*sender*/

.e_send .e_chat_pic{float: left;}
.e_send .e_chat_message{float: left;padding-left: 15px;}
.e_send .e_chat_message_type{background:#ededed;color:#696969;}
.e_send .e_chat_message_div{float:left;}
.e_send .e_chat_date_time{text-align: right;}
.e_send .e_arw{width:30px;height:30px;background:url("../assets/img/e_send.png") !important;left:-13px;top:3px;background-repeat: no-repeat !important;background-position: center !important;}

.e_receive .e_chat_pic{float: right;}
.e_receive .e_chat_message{float:right;padding-right: 15px;}
.e_receive .e_chat_message_type{background:#ffc000;color:#fff;}
.e_receive .e_chat_message_div{float:right;}
.e_receive .e_chat_date_time{text-align:left;}
.e_receive .e_arw{width:30px;height:30px;background:url("../assets/img/e_receive.png") !important;right:-13px;top:3px;background-repeat: no-repeat !important;background-position: center !important;}

/* ACCOUNT-SETTINGS */

.e_unsubscribe{border:1px solid #92278f;background:transparent;border-radius:20px;height:40px;color: #92278f;border-radius:20px;}

/* FORUM */

.e_forum_wrapper{width:100%;}
.e_forum_head{width:100%;}
.e_form_head_left{float:left;width:50%;color:#808080;font-weight:600;font-size: 18px;}
.e_form_head_right{float:right;width:50%;color:#808080;font-size: 13px;}
.e_form_head_right span img{height:14px;margin-right:10px;}
.e_start_discussion_btn{background:#ef9f1e;color:#fff;margin: 0px !important;margin-top: 15px !important;text-transform: capitalize !important;padding-left: 20px;padding-right: 20px;font-weight: 400;letter-spacing: 1px;border-radius: 0px !important;}
.e_forum_wrapper ul{padding:0px;margin:0px;background:#fff;padding-top:0px;padding-bottom:0px;padding-left:15px;padding-right:15px;margin-top:20px;}
.e_forum_wrapper ul li{width:100%;list-style:none;border-bottom:1px solid #ececec;padding-bottom:15px;padding-top:15px;}
.e_form_pic{width:60px;height:60px;border-radius:50%;float:left;background:#cfcfcf;}
.e_form_pic img{width:100%;height:100%;border-radius:50%;}
.e_form_detail{width:calc(100% - 150px);float:left;padding-left: 10px;padding-top:18px;}
.e_form_detail h4{margin:0px;color:#4c4c4c;text-transform: uppercase;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-bottom:2px;}
.e_form_detail p{margin:0px;color:#848484;font-size: 11px;font-weight:300;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.e_form_comment{float:right;width:90px;text-align:right;}
.e_form_comment span{color:#33769d;font-size: 10px;text-align:right;position: relative;top: 25px;font-weight: 500;}
