
/*FONT*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{font-family: 'Roboto', sans-serif;}
.fontweight400{font-weight: 400 !important;}

/*COLORS*/

.text_color_primary{color:#e66263 !important;}
.text_color_secondary{color:#3d3a3b !important;}
.text_color_white{color:#fff !important;}

/*THEMES & BACKGROUND*/

.theme_primary{background-color: #c849c8 !important;    border: 1px solid #c849c8;}
.theme_secondary{background:url("../assets/img/e_background.png");background-position:center;background-size:cover;}
.theme_signup{background:url("../assets/img/e_signup_bg.png");background-position:center;background-size:cover;}
.border_primary{border-color:#e66263 !important;}
.theme_transparent{background:transparent !important;}
.theme_white{background-color: #fff !important;}
.theme_dark_transparent{background-color: rgba(0,0,0,0.6) !important;}
.theme_offwhite{background: #f1f1f1;}
.theme_dark_grey{background: #4c4c4c !important;}

/* FONT */

.font_size_xs{font-size:12px !important;}
.font_size_sm{font-size:14px !important;}
.font_size_md{font-size:16px !important;}
.font_size_lg{font-size:18px !important;}
.font_size_xl{font-size:20px !important;}
.font_size_vl{font-size:35px !important;}



/*BODY-STRUCTURE*/

.nav_header{width:100%;height:50px;}
.nav_btn{width:50px !important;height:50px !important;background: transparent;margin: 0px;font-size: 25px;}
.nav_header_title{height:100%;font-size: 15px;color: #fff;font-weight:500;padding:15px;width:calc(100% - 165px);letter-spacing:1px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 8px;}
.clear{clear:both !important;}
.border{border:1px solid;}
.borderNone{border:none !important;}

/*OVERWRITTEN*/

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {background-image:none !important}
.picker-wrapper{background:#c849c8 !important;color: #fff !important;}
.picker-toolbar{background:#c849c8 !important;color: #fff !important;border:none !important;}
.picker-button{color: #fff !important;}
.picker-opt{color: #fff !important;}
.picker-below-highlight{background:#c849c8 !important;border:none !important;}
.picker-above-highlight{background:#c849c8 !important;border:none !important;}
.popover-content{border-radius:5px !important;width: 150px !important;min-width: 0;min-height: 0;max-height: 90%;color: #000;background:transparent !important;}
.popover-content ion-content, .popover-content .scroll-content {background: #fff !important;}
ion-popover{background: rgba(0,0,0,0.6) !important;}
.popover-md .popover-content{top:50px !important;}
.swiper-slide{overflow: scroll !important;}
.slide-zoom{height:100% !important;}
.menu-inner{width:220px;}
.button-md{box-shadow: none !important;}
.activated{background: transparent !important;}
.button-default{background: transparent;}
.item-md.item-block .item-inner{padding:0px !important;}

/*SPACING & POSITION*/

.width100{width:100% !important;}
.width75{width:75% !important;}
.width50{width:50% !important;}
.height100{height:100% !important;}
.p0{padding:0px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right:0px !important;}
.pt0{padding-top:0px !important;}
.pb0{padding-bottom: 0px !important;}
.p10{padding:10px !important;}

.m0{margin:0px !important;}
.ml0{margin-left: 0px !important;}
.mr0{margin-right: 0px !important;}
.mt0{margin-top: 0px !important;}
.mb0{margin-bottom: 0px !important;}

.top10{top:10px;}
.bottom10{bottom:10px;}
.left10{left:10px;}
.right10{right:10px;}
.bottom10{bottom:10px;}

.absolute{position: absolute !important;}
.relative{position: relative !important;}
.fixed{position: fixed !important;}

/*ALIGNMENT*/

.floatLeft{float:left !important;}
.floatRight{float:right !important;}
.textLeft{text-align: left !important;}
.textRight{text-align: right !important;}
.textCenter{text-align: center !important;}

/*ALERT*/

.alert{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;font-weight: 600;transition: all 0.5s ease;position: fixed;border-bottom:0px;left:0px;right: 0px;}
.warning{color: #fff;background-color: #8a6d3b;}
.success{color: #fff;background-color: #3c763d;}
.error{color: #fff;background-color: #a94442;}
