<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">MY BUDGET</div>
  <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_my_wedding_wrapper">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="e_add_guest_pack borderNone">
            <div class="e_budget_cash">
              <span><img src="assets/img/e_cost.png"></span>
              <p>ESTIMATED COST</p>
              <h6 class="green">$ 560</h6>
              <p>FINAL COST</p>
              <h6 class="red">$ 0</h6>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="e_add_guest_pack borderNone">
            <div class="e_budget_cash">
              <span><img src="assets/img/e_paid.png"></span>
              <p>PAID</p>
              <h6 class="green">$ 5609</h6>
              <p>PENDING</p>
              <h6 class="red">$ 0</h6>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="e_add_guest_pack borderNone">
            <div class="e_profile_content theme_white">
              <ul>
                <li (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}"><span><img src="assets/img/e_p1.png"></span>My Wedding Planning<span class="e_collpase floatRight"></span>
                  <div class="clear"></div>
                </li>
                <div *ngIf="isGroupShown(0)">
                  <div class="e_budget_estimated">
                    <ul>
                      <li>
                        <h6>Welcome party: venue rental</h6>
                        <div class="floatLeft textLeft">
                          <p>Cost:<strong class="red">$ 230</strong></p>
                        </div>
                        <div class="floatRight textRight">
                          <p>Paid:<strong>$ 500</strong></p>
                        </div>
                        <div class="clear"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <li><span><img src="assets/img/e_p2.png"></span>Vendors</li>
                <li><span><img src="assets/img/e_p3.png"></span>Ideas</li>
                <li><span><img src="assets/img/e_p4.png"></span>Forms</li>
                <li><span><img src="assets/img/e_p5.png"></span>My Account</li>
                <li><span><img src="assets/img/e_p6.png"></span>Help</li>
                <li><span><img src="assets/img/e_p7.png"></span>Messages</li>
                <li><span><img src="assets/img/e_p8.png"></span>Logout</li>
              </ul>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button class="e_add_guest_bottom_btn">
            EDIT YOUR ESTIMATED BUDGET&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <button ion-button class="e_task_add" (click)="addexpense()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-footer>
