<ion-header>
  <div class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">IDEAS</div>
    <button ion-button class="nav_btn floatRight"><ion-icon name="ios-options-outline"></ion-icon></button>
    <div class="clear"></div>
  </div>
  <div class="theme_primary">
    <div class="e_secondary_header">
      <input class="e_secondary_search_bar1" placeholder="Search Ideas">
    </div>
  </div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_searchresult_wrapper">
    <ul>
      <li (click)="open_page('IdeadetailPage')">
        <div class="e_search_result_banner">
          <div class="e_banner_photo_tag">
            <span><img src="assets/img/e_cam.png"></span>
            <span>12</span>
          </div>
          <img src="assets/img/e_venue.png">
        </div>
        <div class="e_search_result_detail">
          <h4>Princepark Regency</h4>
          <h6>SW Avenue 6th streets DC</h6>
          <p>A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant, A/C Banquet halls, Business Center etc. This luxurious business class ...</p>
          <div class="e_search_result_btm">
            <div class="floatLeft">
              <span><img src="assets/img/e_e1.png">250 - 2500</span>
              <span><img src="assets/img/e_e2.png">3000</span>
            </div>
            <div class="floatRight textRight">
              <button class="e_more_info">more info</button>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</ion-content>
