<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">NOTIFICATIONS</div>
    <div class="clear"></div>
</ion-header>
<ion-content padding>
  <div class="e_notification_wrap">
    <h5>WE WILL SEND ALL EMAILS TO:</h5>
    <p>annalexander@gmail.com</p>
    <br>
    <hr>
      <ul>
        <li>
          <div class="e_task_checkbox">
              <input id="check1" type="checkbox" name="check" value="check1">
              <label for="check1">Receive regular informative emails</label>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="e_task_checkbox">
              <input id="check2" type="checkbox" name="check" value="check2">
              <label for="check2">Receive weekly emails with updates and news</label>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="e_task_checkbox">
              <input id="check3" type="checkbox" name="check" value="check3">
              <label for="check3">Receive notifications from activity in the community</label>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="e_add_guest_bottom_btn">
          SAVE CHANGES&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
