<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">EDIT PROFILE</div>
    <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_more_profile_div">
    <h4>MY WEDDING</h4>
    <div class="e_more_form">
      <div class="e_more_row">
        <p>ROLE</p>
        <select class="e_more_select_input">
          <option>Guest</option>
        </select>
      </div>
      <div class="e_more_row">
        <p>WEDDING DATE</p>
        <input class="e_more_input" placeholder="22/07/2017" >
      </div>
      <div class="e_more_row">
        <p>NO. OF GUEST</p>
        <input class="e_more_input" placeholder="No. of Guest" >
      </div>
      <div class="e_more_row">
        <p>ABOUT THE WEDDING</p>
        <textarea class="e_more_input_textarea" placeholder="Type here..." rows="4" >
        </textarea>
      </div>
    </div>
  </div>
  <div class="e_more_profile_div">
    <h4>MY PERSONAL INFORMATION</h4>
    <div class="e_more_form">
      <div class="e_more_row">
        <p>FIRST NAME</p>
        <input class="e_more_input" placeholder="First Name" >
      </div>
      <div class="e_more_row">
        <p>LAST NAME</p>
        <input class="e_more_input" placeholder="First Name" >
      </div>
      <div class="e_more_row">
        <input class="e_more_input e_mail" placeholder="Email">
      </div>
      <div class="e_more_row">
        <input class="e_more_input e_address" placeholder="Phone number">
      </div>
      <div class="e_more_row">
        <input class="e_more_input e_number" placeholder="Address">
      </div>
      <div class="e_more_row">
        <p>ABOUT ME</p>
        <textarea class="e_more_input_textarea" placeholder="Type here..." rows="4" >
        </textarea>
      </div>
    </div>
  </div>
  <div class="e_more_profile_div">
    <h4>MY PARTNER</h4>
    <div class="e_more_form">
      <div class="e_more_row">
        <select class="e_more_select_input">
          <option>Groom</option>
        </select>
      </div>
    </div>
    <button ion-button class="e_add_guest_bottom_btn">
      SAVE&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
    </button>
  </div>
</ion-content>
