<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">WEDDING VENUE</div>
    <button ion-button class="nav_btn floatRight" (click)="filter()"><ion-icon name="ios-options-outline"></ion-icon></button>
    <button ion-button class="nav_btn floatRight"><ion-icon name="ios-chatboxes-outline"></ion-icon></button>
    <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_searchresult_wrapper">
    <ul class="m0">
      <li>
        <div class="e_search_result_banner">
          <div class="e_banner_photo_tag">
            <span><img src="assets/img/e_cam.png"></span>
            <span>12</span>
          </div>
          <div class="e_premium_tag">
            PREMIUM
          </div>
          <button class="e_like"></button>
          <img src="assets/img/e_venue.png">
        </div>
        <div class="e_search_result_detail">
          <h4>Princepark Regency</h4>
          <h6>SW Avenue 6th streets DC</h6>
          <div class="e_detail_btn_bay">
            <li style="border-right:1px solid #5c5c5c;" (click)="moreinfo()"><img src="assets/img/e_exclaim.png"><span>Get more info</span></li>
            <li><img src="assets/img/e_calll.png"><span>Call</span></li>
            <div class="clear"></div>
          </div>
          <div class="e_guest_price">
            <li>
              <div class="e_guest_price_circle floatLeft">
                <img src="assets/img/e_guest_circle.png">
              </div>
              <div class="e_guest_price_detail floatLeft">
                <h6>No of Guest</h6>
                <h5>250 - 2500</h5>
              </div>
              <div class="clear"></div>
            </li>
            <li class="borderNone" style="padding-left:20px;">
              <div class="e_guest_price_circle floatLeft">
                <img src="assets/img/e_wallet_circle.png">
              </div>
              <div class="e_guest_price_detail floatLeft">
                <h6>Price</h6>
                <h5>$ 3000</h5>
              </div>
              <div class="clear"></div>
            </li>
          </div>
        </div>
      </li>
      <li>
        <div class="e_result_details_div">
          <h5>DETAILS</h5>
          <h3>What type of event?</h3>
          <h4>Banquet Hall</h4>
          <h3>Lorem Ipsum simply dummy text?</h3>
          <h4>Banquet Hall</h4>
          <button class="e_readmore">Read more</button>
        </div>
      </li>
      <li>
        <div class="e_result_details_div">
          <h5>DESCRIPTION</h5>
          <p>A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
             A/C Banquet halls, Business Center etc. This luxurious business class .
             A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
            A/C Banquet halls, Business Center etc. This luxurious business class ...</p>
          <button class="e_readmore">Read more</button>
        </div>
      </li>
      <ion-grid>
        <ion-row>
          <ion-col>
              <button class="e_result_next">NEXT</button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ul>
  </div>
</ion-content>
