<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">EDIT VENDOR DETAILS</div>
  <div class="clear"></div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_vendor_details">
      <h5>HAPPY DAYS</h5>
  </div>
  <div class="e_add_guest_pack">
    <div class="e_task_form">
      <div class="e_task_form_row">
        <p>STATUS</p>
        <select class="e_new_task_select">
          <option>Evaluating</option>
        </select>
      </div>
      <div class="e_task_form_row">
        <p>RATING</p>
        <select class="e_new_task_select">
          <option>No Rating</option>
        </select>
      </div>
      <div class="e_task_form_row">
        <p>PRICE</p>
        <input class="e_new_task_input" placeholder="Enter Price">
      </div>
      <div class="e_task_form_row">
        <p>CITY/TOWN</p>
        <input class="e_new_task_input" placeholder="Enter City">
      </div>
      <div class="e_task_form_row">
        <p>TELEPHONE</p>
        <input class="e_new_task_input" placeholder="Telephone">
      </div>
      <div class="e_task_form_row">
        <p>EMAIL</p>
        <input class="e_new_task_input" placeholder="Enter Email">
      </div>
    </div>
  </div>
    <div class="e_add_guest_pack">
      <div class="e_task_form">
      <div class="e_task_form_row">
        <p>COMMENTS</p>
        <textarea class="e_new_task_textarea" placeholder="Description of Task" rows="6">
        </textarea>
      </div>
    </div>
    </div>
    <div class="e_task_form">
    <div class="e_task_form_row">
        <div class="textCenter">
          <button ion-button class="e_cover_save">SAVE</button>
          <button ion-button class="e_cover_cancel theme_dark_grey text_color_white">REMOVE</button>
        </div>
    </div>
  </div>

</ion-content>
