<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">ADD GUESTS</div>
  <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_add_guest_wrapper p10">
    <div class="e_add_guest_pack">
      <div class="e_task_form">
        <div class="e_task_form_row">
          <p>FIRST NAME</p>
          <input class="e_new_task_input" placeholder="First Name">
        </div>
        <div class="e_task_form_row">
          <p>LAST NAME</p>
          <input class="e_new_task_input" placeholder="Last Name">
        </div>
        <div class="e_task_bar">
          <ion-grid class="p0">
            <ion-row>
              <ion-col col-4 class="p0 textCenter">
                <img src="assets/img/e_d1.png">
                <p>Attending</p>
              </ion-col>
              <ion-col col-4 class="p0 textCenter">
                <img src="assets/img/e_d2.png">
                <p class="e_task_border">Pending</p>
              </ion-col>
              <ion-col col-4 class="p0 textCenter">
                <img src="assets/img/e_d3.png">
                <p>Declined</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div class="e_add_guest_pack">
      <div class="e_task_form">
        <div class="e_task_form_row">
          <p>GROUP</p>
          <select class="e_new_task_select">
            <option>Select Group</option>
          </select>
        </div>
        <div class="e_task_form_row">
          <input class="e_new_task_input e_mail" placeholder="Email">
        </div>
        <div class="e_task_form_row">
          <input class="e_new_task_input e_address" placeholder="Phone number">
        </div>
        <div class="e_task_form_row">
          <input class="e_new_task_input e_number" placeholder="Address">
        </div>
      </div>
    </div>
    <div class="e_add_guest_pack">
      <div class="e_task_form">
        <div class="e_task_form_row">
          <p>GENDER</p>
          <select class="e_new_task_select">
            <option>Select Gender</option>
          </select>
        </div>
        <div class="e_task_form_row">
          <div class="e_add_guest_btn_bay">
              <button ion-button class="e_add_guest_btn">Adult</button>
              <button ion-button class="e_add_guest_btn">Child</button>
              <button ion-button class="e_add_guest_btn">Baby</button>
          </div>
        </div>
      </div>
    </div>
    <button ion-button class="e_add_guest_bottom_btn" (click)="dismiss()">
      SAVE&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
    </button>
  </div>
</ion-content>
