<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">NEW TASK</div>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_task_form">
      <div class="e_task_form_row">
        <p>TASK</p>
        <input class="e_new_task_input" placeholder="Name of task">
      </div>
      <div class="e_task_form_row">
        <p>TIMING</p>
        <select class="e_new_task_select" (click)="radiopop()">
          <option>Unclassified</option>
        </select>
      </div>
      <div class="e_task_form_row">
        <p>CATEGORY</p>
        <select class="e_new_task_select">
          <option>Unclassified</option>
        </select>
      </div>
      <div class="e_task_form_row">
        <p>DESCRIPTION</p>
        <textarea class="e_new_task_textarea" placeholder="Description of Task" rows="6">
        </textarea>
      </div>
      <div class="e_task_form_row">
        <div class="e_cover_btn_bay textLeft">
          <button ion-button class="e_cover_save">SAVE</button>
          <button ion-button class="e_cover_cancel">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
