<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">ACCOUNT SETTINGS</div>
    <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_more_profile_div">
    <div class="e_more_form">
        <p>EMAIL</p>
        <div class="e_notification_wrap">
          <p>annalexander@gmail.com</p>
        </div>
    </div>
  </div>
  <div class="e_more_profile_div">
    <div class="e_more_form">
        <p class="p0">LINKED ACCOUNTS</p>
        <ion-grid class="p0">
          <ion-row>
            <ion-col class="p0" col-8>
              <input class="e_more_input1" placeholder="Please Enter Partner's email" >
            </ion-col>
            <ion-col class="p0" col-4>
              <button ion-button class="e_cover_save width100">LINK</button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
  <div class="e_more_profile_div">
    <div class="e_more_form">
        <p class="p0">UNSUBSCRIBE</p>
        <input class="e_more_input1" placeholder="Please Enter Partner's email" >
        <button ion-button class="e_unsubscribe">UN SUBSCRIBE NOW</button>
    </div>
  </div>
</ion-content>
