<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">WEDDING VENUE</div>
    <button ion-button class="nav_btn floatRight"><ion-icon name="ios-options-outline"></ion-icon></button>
    <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_searchresult_wrapper">
    <ul class="m0">
      <li>
        <div class="e_search_result_banner">
          <img src="assets/img/e_decor.png">
        </div>
        <div class="e_search_result_detail">
          <h4>The most common wedding Decor</h4>
          <h6>By Martina,  06/10/2017</h6>
        </div>
        <div class="e_social_listing">
          <li><img src="assets/img/e_s1.png"></li>
          <li><img src="assets/img/e_s2.png"></li>
          <li><img src="assets/img/e_s3.png"></li>
          <li><img src="assets/img/e_s4.png"></li>
          <li><img src="assets/img/e_s5.png"></li>
        </div>
        <br>
      </li>
      <li>
        <div class="e_result_details_div">
          <h5>DESCRIPTION</h5>
          <p>A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
             A/C Banquet halls, Business Center etc. This luxurious business class .
             A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
            A/C Banquet halls, Business Center etc. This luxurious business class ...</p>
            <h4 class="font_size_md">The most common wedding Decor</h4>
            <p>A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
               A/C Banquet halls, Business Center etc. This luxurious business class .
               A 4 star business hotel in Muvattupuzha with Multi Cuisine Restaurant,
              A/C Banquet halls, Business Center etc. This luxurious business class ...</p>
          <button class="e_readmore">Read more</button>
        </div>
      </li>
      <li>
        <div class="e_result_details_div">
          <div class="e_task_form_row">
            <h5>LEAVE A COMMENTS</h5>
            <textarea class="e_new_task_textarea" placeholder="" rows="3"></textarea>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
                <button ion-button class="e_task_vendor_btn">SAVE <ion-icon name="checkmark"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div>
  <div class="e_topic_content">
    <h4>ARTICLES BY TOPIC</h4>
    <ul>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c1.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c2.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c3.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <li>
        <div class="e_topic_circle">
          <img src="assets/img/e_c4.png">
        </div>
        <p>Before the wedding</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</ion-content>
