<ion-content class="theme_dark_transparent">
  <div class="e_radio_pop_inner">
    <ion-list>
      <ion-item (click)="dismiss()">
        <ion-label>Unclassified</ion-label>
        <ion-radio checked></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>From 10 to 12 month</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>2 weeks</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>Last week</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>Last Day</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>Wedding Day</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>Unclassified</ion-label>
        <ion-radio checked></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>Wedding Day</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
