<ion-content>
  <div class="e_event_popover">
    <ul>
      <li>All</li>
      <li><span><img src="assets/img/e_d1.png"></span>Attending</li>
      <li><span><img src="assets/img/e_d2.png"></span>Pending</li>
      <li><span><img src="assets/img/e_d3.png"></span>Not Attending</li>
    </ul>
  </div>
</ion-content>
