
<ion-content class="theme_dark_transparent">
  <div class="e_moreinfo_wrapper">
    <div class="e_moreinfo_header">
      EDIT VENDORS
      <div class="e_more_info_close" (click)="dismiss()">
        <img src="assets/img/e_close.png">
      </div>
    </div>
    <div class="e_moreinfo_detail">
      <div class="e_task_form">
        <div class="e_task_form_row">
          <p>NAME</p>
          <input class="e_new_task_input" placeholder="Name">
        </div>
        <div class="e_task_form_row">
          <p>TELEPHONE</p>
          <input class="e_new_task_input" placeholder="Telephone">
        </div>
        <div class="e_task_form_row">
          <p>EMAIL</p>
          <input class="e_new_task_input" placeholder="Enter Email">
        </div>
        <div class="e_task_form_row">
          <ion-grid class="p0">
            <ion-row>
              <ion-col>
                <p>DATE</p>
                <input class="e_new_task_input" placeholder="Date">
              </ion-col>
              <ion-col>
                <p>NO OF GUEST</p>
                <input class="e_new_task_input" placeholder="No of Guests">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="e_task_form_row">
          <p>COMMENTS</p>
          <textarea class="e_new_task_textarea" placeholder="" rows="3">
          </textarea>
        </div>
        <button ion-button class="e_task_vendor_btn">SEND ENQUIRY</button>
      </div>
    </div>
  </div>
</ion-content>
