<ion-header class="theme_primary">
  <div class="e_signup_header">
    Signup
    <hr>
  </div>
</ion-header>
<ion-content padding class="theme_signup">
  <div class="e_signup_wrapper">
    <h3>
      Start by creating your free<br> Account
    </h3>
    <div class="e_signup_form">
      <div class="e_signup_form_row">
        <p>First name</p>
        <input class="e_signup_input" placeholder="First name">
      </div>
      <div class="e_signup_form_row">
        <p>Last name</p>
        <input class="e_signup_input" placeholder="Last name">
      </div>
      <div class="e_signup_form_row">
        <p>Email</p>
        <input class="e_signup_input" placeholder="Email ID">
      </div>
      <div class="e_signup_form_row">
        <p>Password</p>
        <input class="e_signup_input" placeholder="Password">
      </div>
      <div class="e_signup_form_row">
        <p>Wedding Date</p>
        <ion-item class="e_signup_input e_calender_calender">
          <ion-datetime   placeholder="Wedding Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
        </ion-item>
      </div>
      <div class="e_signup_form_row">
        <div class="e_task_checkbox width100">
            <input id="check31" type="checkbox" name="check" value="check31">
            <label for="check31">
              I Accept the Terms and Conditions and Privacy
policy
            </label>
        </div>
      </div>
      <div class="e_signup_form_row textCenter">
        <button ion-button class="e_cover_save width100">SIGNUP</button>
      </div>
      <div class="e_signup_form_row">
        <div class="e_task_checkbox width100">
          <h6>
              Already have an Account? <strong (click)="open_page('LoginPage')"> LOGIN HERE</strong></h6>
        </div>
      </div>

    </div>
  </div>
</ion-content>
