<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">ADD VENDOR</div>
  <div class="clear"></div>
</ion-header>
<ion-content class="theme_offwhite">
  <div class="e_add_guest_wrapper p10">
    <div class="e_add_guest_pack">
      <div class="e_task_form">
        <div class="e_task_form_row">
          <p>NAME</p>
          <input class="e_new_task_input" placeholder="Name">
        </div>
        <div class="e_task_form_row">
          <p>CITY/TOWN</p>
          <input class="e_new_task_input" placeholder="Enter City">
        </div>
        <div class="e_task_form_row">
          <p>TELEPHONE</p>
          <input class="e_new_task_input" placeholder="Telephone">
        </div>
        <div class="e_task_form_row">
          <p>EMAIL</p>
          <input class="e_new_task_input" placeholder="Enter Email">
        </div>
      </div>
    </div>
    <div class="e_add_guest_pack">
      <div class="e_task_form">
        <div class="">
          <p>CATEGORY</p>
          <div class="e_vendor_content height100 textLeft p0">
            <ul>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check1" type="checkbox" name="check" value="check1">
                  <label for="check1"></label>
                </span>
                <span>
                  <img src="assets/img/e_1.png">
                </span>
                <span>Events</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check2" type="checkbox" name="check" value="check2">
                  <label for="check2"></label>
                </span>
                <span>
                  <img src="assets/img/e_2.png">
                </span>
                <span>Catering</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check3" type="checkbox" name="check" value="check3">
                  <label for="check3"></label>
                </span>
                <span>
                  <img src="assets/img/e_3.png">
                </span>
                <span>Photography</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check4" type="checkbox" name="check" value="check4">
                  <label for="check4"></label>
                </span>
                <span>
                  <img src="assets/img/e_4.png">
                </span>
                <span>Video</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check5" type="checkbox" name="check" value="check5">
                  <label for="check5"></label>
                </span>
                <span>
                  <img src="assets/img/e_5.png">
                </span>
                <span>Planning</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check6" type="checkbox" name="check" value="check6">
                  <label for="check6"></label>
                </span>
                <span>
                  <img src="assets/img/e_6.png">
                </span>
                <span>Jewellery</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check7" type="checkbox" name="check" value="check7">
                  <label for="check7"></label>
                </span>
                <span>
                  <img src="assets/img/e_7.png">
                </span>
                <span>Transportation</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check8" type="checkbox" name="check" value="check8">
                  <label for="check8"></label>
                </span>
                <span>
                  <img src="assets/img/e_8.png">
                </span>
                <span>Wedding Cards</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check9" type="checkbox" name="check" value="check9">
                  <label for="check9"></label>
                </span>
                <span>
                  <img src="assets/img/e_9.png">
                </span>
                <span>Flower and Decoration</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check10" type="checkbox" name="check" value="check10">
                  <label for="check10"></label>
                </span>
                <span>
                  <img src="assets/img/e_10.png">
                </span>
                <span>Bridal Accessories</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check11" type="checkbox" name="check" value="check11">
                  <label for="check11"></label>
                </span>
                <span>
                  <img src="assets/img/e_11.png">
                </span>
                <span>Health and Beauty</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check12" type="checkbox" name="check" value="check12">
                  <label for="check12"></label>
                </span>
                <span>
                  <img src="assets/img/e_12.png">
                </span>
                <span>Entertainment</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check13" type="checkbox" name="check" value="check13">
                  <label for="check13"></label>
                </span>
                <span>
                  <img src="assets/img/e_13.png">
                </span>
                <span>Guests</span>
              </li>
              <li>
                <span class="e_task_checkbox p0 m0">
                  <input id="check14" type="checkbox" name="check" value="check14">
                  <label for="check14"></label>
                </span>
                <span>
                  <img src="assets/img/e_14.png">
                </span>
                <span>Honeymoon</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button ion-button class="e_task_vendor_btn" (click)="dismiss()">SAVE <ion-icon name="checkmark"></ion-icon></button>
  </div>
</ion-content>
