<ion-header class="theme_primary nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">FORUM</div>
    <button ion-button class="nav_btn floatRight"  (click)="presentPopover($event)"><ion-icon name="ios-options-outline"></ion-icon></button>
    <div class="clear"></div>
</ion-header>
<ion-content padding class="theme_offwhite">
  <div class="e_forum_wrapper">
    <div class="e_forum_head">
      <div class="e_form_head_left">ALL FORUMS</div>
      <div class="e_form_head_right textRight"><span><img src="assets/img/e_forum_loc.png"></span>Change Location</div>
      <div class="clear"></div>
      <button ion-button class="e_start_discussion_btn">Start Discussion</button>
    </div>
    <ul>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li><li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="e_form_pic"></div>
        <div class="e_form_detail">
          <h4>Guests bringing more than...</h4>
          <p>5 minutes ago • vendors allowed</p>
        </div>
        <div class="e_form_comment"><span>120 Comments</span></div>
        <div class="clear"></div>
      </li>
    </ul>

  </div>
</ion-content>
