<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
  <div class="nav_header_title floatLeft">MY GUESTS</div>
  <button ion-button class="nav_btn floatRight"> <ion-icon name="ios-search-outline"></ion-icon></button>
  <button ion-button class="nav_btn floatRight" (click)="presentPopover($event)"><ion-icon name="ios-options-outline"></ion-icon></button>
  <div class="clear"></div>
</ion-header>
<ion-content>
  <div class="e_my_wedding_wrapper">
    <div class="e_guest_tab_bay theme_primary">
      <ul>
          <li [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Tables<div class="arrow-up"></div></li>
          <li [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Groups<div class="arrow-up"></div></li>
          <li [ngClass]="{'active' : slidertab == 2}" (click)="goToSlide(2)">Menus<div class="arrow-up"></div></li>
          <li [ngClass]="{'active' : slidertab == 3}" (click)="goToSlide(3)">Analytics<div class="arrow-up"></div></li>
      </ul>
    </div>
    <div class="e_wedding_tab_content">
      <ion-slides pager="false" #mySlider  (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div class="e_guest_tab_content_wrapper">
            <div class="e_guest_no_post">
              <h5>No</h5>
              <h6>Guests Found</h6>
              <p>Click the “ <span><img src="assets/img/e_add_span.png"></span>” to add a new Guest or Table</p>
              <hr>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="e_guest_tab_content_wrapper">
            <div class="e_guest_added">
              <ul>
                <li (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
                  <div class="e_guest_added_group_circle">
                  </div>
                  <div class="e_guest_added_group_detail">
                    <h5>COUPLE</h5>
                    <h6>2 Guests</h6>
                  </div>
                  <span class="e_collpase floatRight"></span>
                  <div class="clear"></div>
                </li>
                <div *ngIf="isGroupShown(0)" class="e_collapsed_div">
                  <div class="e_task_tab_content_slide">
                    <ul>
                      <li>
                        <div class="e_task_checkbox">
                            <input id="check12" type="checkbox" name="check" value="check1">
                            <label for="check12"></label>
                        </div>
                        <div class="e_added_guest_name textLeft">
                          <h5>ANGELA</h5>
                        </div>
                        <div class="e_added_task_more e_checked">
                        </div>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <div class="e_task_checkbox">
                            <input id="check13" type="checkbox" name="check" value="check1">
                            <label for="check13"></label>
                        </div>
                        <div class="e_added_guest_name textLeft">
                          <h5>ROBERT SWEN</h5>
                        </div>
                        <div class="e_added_task_more e_more">
                        </div>
                        <div class="clear"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <li (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
                  <div class="e_guest_added_group_circle">
                  </div>
                  <div class="e_guest_added_group_detail">
                    <h5>GROOMS FAMILY</h5>
                    <h6>1 Guests</h6>
                  </div>
                  <span class="e_collpase floatRight"></span>
                  <div class="clear"></div>
                </li>
                <div *ngIf="isGroupShown(1)" class="e_collapsed_div">
                  <div class="e_task_tab_content_slide">
                    <ul>
                      <li>
                        <div class="e_task_checkbox">
                            <input id="check12" type="checkbox" name="check" value="check1">
                            <label for="check12"></label>
                        </div>
                        <div class="e_added_guest_name textLeft">
                          <h5>SARA MARC</h5>
                        </div>
                        <div class="e_added_task_more e_checked">
                        </div>
                        <div class="clear"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </ion-slide>
        <ion-slide>2
        </ion-slide>
        <ion-slide>3
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
<ion-footer>
  <button ion-button class="e_task_add e_add" (click)="addguest()">
  </button>
</ion-footer>
